<!--理赔指引-->
<div class="detail-product-claims pr30">
	<div class="product-claims-service">
		<h3 class="f14  mb20 fc6 fb">理赔流程</h3>
		<div class="claims-service-box">
			<ul class="claims-service-tab-menu tac clearfix" id="guideTabs">
				<%  var claimsList=(data.claimsSettlementGuide&&data.claimsSettlementGuide.flowsheetList)||[]
					var iconList=['&#xe733;','&#xe718;','&#xe719;','&#xe71a;'];
				    iconList.forEach(function(item,index){
					if(index<claimsList.length){
				%>
				<li class="claims-service-tab-item <%if(index===0){%>active<%}%>" data-tab='detial-<%=(index+1)%>'>
                    <i class="iconfont"><%-item%></i>
					<p class="pt10"><%-(claimsList[index]&&claimsList[index].title||'')%></p>
				</li>
				<%}%>
					<% if(index<claimsList.length-1){%>
						<li class="claims-service-tab-item claims-service-tab-separator">
							<i class="iconfont">&#xe707;</i>
						</li>
					<%}%>
				<%})%>
			</ul>
			<div class="claims-service-tab-container" id="guideContentTabs">
				<% claimsList.forEach(function(item,index){%>
				<div class="claims-service-tab-pane <% if(index!==0){%>hidden<%}%>" data-tab='detial-<%=(index+1)%>'>
					<%-item.describe%>
				</div>
				<%});%>
			</div>
		</div>
		<!--claims-service-box-->
	</div>
	<!--product-claims-datas end-->
	<% if(data.claimsSettlementGuide.notice){%>
	<div class="product-claims-notice">
		<h3 class="f14 pb20 pt20 mb20 fc6 fb bor-bottom">理赔须知</h3>
		<div class="f12 lh20 clearfix">
			<%-data.claimsSettlementGuide.notice%>
		</div>
	</div>
	<%}%>







    <div class="product-claims-comments fn-hide"><!--产品需求暂时屏蔽理赔反馈-->
		<h3 class="f14 pb20 pt20 mb20 fc6 fb bor-bottom">理赔反馈</h3>
        <% if(data.comments.data&&data.comments.data[2].total>0){%>
		<ul class="hz-comments-list">
			<% ((data.comments.data&&data.comments.data[2]).data||[]).forEach(function(item,index){%>
			<li class="hz-comment"> <!-- 评论容器 -->
                <span class="hz-comment-avatar <%if(!item.userImg){%>hz-comment-avatar-empty<%}%>">
                    <i class="bg hz-bgpic-sprite hz-bgpic-2"></i>
                     <img src="<%=item.userImg%>"> <!-- 评论者头像 -->
                </span>
                <div class="hz-comment-main"> <!-- 评论内容容器 -->
                    <div class="hz-comment-head">
                        <div class="hz-comment-meta"> <!-- 评论元数据 -->
                        <span class="hz-comment-author"><%=item.name%></span> <!-- 评论者 -->
                            <div class="ml5 mr5 hz-star inline-block">
                                <% for(var i=1;i<6;i++){%>
                                    <% if(i<=item.averageLevel){%>
                                        <i class="hz-star-icon hz-star-icon-selected iconfont"></i>
                                    <%}else{%>
                                        <i class="hz-star-icon iconfont"></i>
                                    <%}%>
                                <%}%>
                            </div>
                        <span class="fc6 f12"><%=item.createtime.split("T")[0]%></span>
                    </div>
                </div>
                <div class="hz-comment-body">
                    <div class="hz-comment-content"><%-item.content%></div>
                    </div> <!-- 评论内容 -->
                </div>
	        </li>
			<%});%>
        </ul><!--hz-comment-list end-->

        <div class="tar">
            <a class="primary-link" target="_blank" href="/product/prodreview/showlist<%=data.security.productId%>-1.html?type=2" title="查看全部理赔反馈">查看全部理赔反馈</a>
        </div>

        <%}else{%>
            <p class="fc9">暂无理赔反馈~</p>

        <%}%>


    </div>

<!--product-claims-comments end-->
</div>
<!--detail-product-claims end-->