<%
var recommendList = data.recommendProgram || [];//列表

        if(recommendList.length>0){
%>
<div class="recommended-products">
	<ul class="hz-tab-menu hz-tab-style02 recommended-products-tab" id="recommendTable">
		<%recommendList.forEach(function(item,index){
			var tempArray=item.plist.filter(function(item){
				return item.productStatus===1
			});
			if(tempArray.length>0){
		%>
		<li class="hz-tab-menu-item <%if(index==0){%>active<%}%>" data-tab="recommend-<%=(index+1)%>"><a href="javascript:;"><%=item.groupName%></a></li>
		<%}});%>
	</ul>
	<div class="recommended-products-tab-container" id="recommendTableContent">

		<%recommendList.forEach(function(dataItem,dIndex){%>
		<div class="recommended-products-tab-pane hidden" data-tab="recommend-<%=(dIndex+1)%>">
			<ul class="recommended-product-list">
		     <%
				var rlist=dataItem.plist||[];
				var tempList=[];
				tempList=rlist.filter(function(t){
					return t.productStatus===1
				})
				tempList.forEach(function(pItem,pIndex){%>
				<% if(pIndex){%>
				<li class="recommended-product-item recommended-product-mark hz-bgpic-sprite hz-bgpic-7"></li>
				<%}%>
				<li class="recommended-product-item" productId="<%=pItem.productId%>" planId="<%=pItem.planId%>">
					<div class="pic-item"><a href="/product/detail-<%=pItem.productId%>.html?DProtectPlanId=<%=pItem.planId%>" target="_blank"><img width="100%" src="<%=pItem.img%>"></a></div>
					<div class="content">
						<h4 class="product-title"><a href="/product/detail-<%=pItem.productId%>.html?DProtectPlanId=<%=pItem.planId%>" target="_blank"><%=pItem.productName%> <%=pItem.planName%></a></h4>
						<p class="product-price f14 mt5">¥<%=(pItem.price/100).toFixed(2)%>
							<% if(pItem.originalPrice!==pItem.price){%>
							<del class="fc9 f14 ml10">¥<%=(pItem.originalPrice/100).toFixed(2)%></del>
							<%}%>
						</p>
					</div>
				</li>
			 <%});%>
				<li class="recommended-product-item last-item ml25">
					<div>
						<h4 class="f14 mb10">组合优势</h4>
						<div class="recommended-product-des f12 fc6 lh20">
							<%=dataItem.betterDesc%>
						</div>
						<p class="price-item mt5">
							<span class="current-price">¥<%=(dataItem.groupPrice/100).toFixed(2)%></span>
							<% if(dataItem.groupPrice!==dataItem.groupOriginalPrice){%>
                            <del class="origin-price fc9 f14">¥<%=(dataItem.groupOriginalPrice/100).toFixed(2)%></del>
							<%}%>
                        </p>
						<div class="foot-action"><a class="hz-button  hz-button-block" dindex="<%=(dIndex+1)%>" href="javascript:;">加入购物车</a></div>
					</div>
				</li>
			</ul>
		</div>
		<%});%>
	</div>
	<!--recommended-products-tab-container end -->
</div>

<%}%>
