<%var maxComments = showComments || 10%>
<!--用户评论-->
<div class="detail-product-comment pr30">
	<div class="comment-tag-box mb20 clearfix">
		<div class="comment-tag-left tac">
			<p class="score"><%=data.comments.feedback.satisfaction%><span></span></p>
			<p>满意度</p>
		</div>
		<div class="comment-tag-content">
			<!--已评论状态-->
			<div class="user-tag">

                <%
                var     impressionListData = data.comments&&data.comments.feedback&&data.comments.feedback.impressionList||[];

                        if(impressionListData.length>0) {
                        impressionListData.forEach(function(item,i)
                {%>
                    <span class="post-tag"><%-item.title%>（<%=item.num%>）</span>
                <%})}else {%>
                    <div class="tac fc9 f14 pt45 mt20">暂无买家印象~</div>
                <%}%>


			</div>
		</div>
		<div class="comment-tag-right tac">
			<a class="hz-button hz-button-primary hz-button-block" target="_blank" href="//www.huize.com/Comment/CommentEntiy/?productId=<%=data.security.productId%>">撰写评论</a>
		</div>
	</div>

    <% if(data.comments.data[0].total>0) {%>
	<div class="product-comment-tab">
		<ul class="hz-tab-menu hz-tab-style02 product-comment-tab-menu mb30" id="reviewTable">
			<li class="hz-tab-menu-item active" data-tab="review-0"><a href="javascript:;">全部评论 <span><%=data.comments.data[0].total%></span></a></li>
			<li class="hz-tab-menu-item" data-tab="review-1"><a href="javascript:;">产品评论 <span><%=data.comments.data[1].total%></span></a></li>
			<li class="hz-tab-menu-item" data-tab="review-2"><a href="javascript:;">理赔反馈 <span><%=data.comments.data[2].total%></span></a></li>
		</ul>
	</div>

	<!--product-comment-tab-->
	<div class="product-comment-tab-container" id="reviewTableContent">
		<% var comments=data.comments.data||[]; comments.forEach(function(dataItem,dataIndex){%>


		<div class="comment-tab-pane hidden <% if(dataIndex===0){%>show<%}%>" data-tab="review-<%=dataIndex%>">
            <% if(dataItem.total>0){%>
			<ul class="hz-comments-list">
				<% var commentsList=dataItem.data; commentsList.forEach(function(item,index){%>
					<%if(index < maxComments){%>
				<li class="hz-comment"> <!-- 评论容器 -->
                    <span class="hz-comment-avatar <%if(!item.userImg){%>hz-comment-avatar-empty<%}%>">
                        <i class="bg hz-bgpic-sprite hz-bgpic-2"></i>

                        <img src="<%=item.userImg%>"> <!-- 评论者头像 -->
                    </span>

					<div class="hz-comment-main"> <!-- 评论内容容器 -->
						<div class="hz-comment-head">

							<div class="hz-comment-meta"> <!-- 评论元数据 -->
								<span class="hz-comment-author"><%=item.name%></span> <!-- 评论者 -->

								<div class="ml5 mr5 hz-star inline-block">
									<% for(var i=1;i<6;i++){%>
									<% if(i<=item.averageLevel){%>
									<i class="hz-star-icon hz-star-icon-selected iconfont">&#xe703;</i>
									<%}else{%>
									<i class="hz-star-icon iconfont">&#xe703;</i>
									<%}%>
									<%}%>
								</div>

								<span class="fc6 f12"><%=item.createtime.split("T")[0]%></span>
							</div>
						</div>

						<div class="hz-comment-body">
							<div class="hz-comment-content"><%-item.content%></div>

							<% if(item.answer){%>
							<div class="hz-comment-reply popover bottom">
								<div class="popover-content">
									<%=item.answer%>
								</div>
								<div class="arrow"></div>
								<div class="arrow2"></div>
							</div>
							<%}%>

						</div> <!-- 评论内容 -->
					</div>
				</li>
					<%}%>
				<%});%>
            </ul>
			<% if(dataItem.total>maxComments){%>
			<div class="tar"><a class="primary-link" target="_blank" href="/product/prodreview/showlist<%=data.security.productId%>-1.html?type=0" title="查看全部评论">查看全部评论</a></div>
			<%}%>

            <%} else {%>
            <div class="fc9">暂无数据~</div>
            <%}%>
        <!--hz-comment-list end-->
        </div>


		<%});%>

    </div>
    <!--product-comment-tab-container-->
    <div class="hz-pagination" id="kkpager"></div>
    <!--pagination end-->
    <%}%>



</div>
<!--detail-product-comment end-->