<div class="detail-sidebar" id="silderbar">
	<div class="detail-sidebar-container">
		<table width="100%" class="sidebar-level lh22 f18  tac">
			<col width="50%"/>
			<col width="50%"/>
			<tr>
				<td>
					<p class="count-title f14 pt5">累计销量</p>
					<p class="count-item fc6"><%=data.right.totalSV%></p>
				</td>
				<td class="last-item">
					<p class="count-title f14 pt5">满意度</p>
					<p class="count-item fc6"><%=data.right.satisfaction%></p>
				</td>
			</tr>
		</table>
		<div class="detail-sidebar-info mt35">
			<% var impressionList=data.right.impressionList||[];
			   if(impressionList.length>0){%>
			<div class="sidebar-post-tag  mb30">
				<h3 class="f14 mb5 fc6 fb">买家印象</h3>
				<% impressionList.forEach(function(item,i){
					if(i<4){
				%>
				<p><span class="post-tag"><%=item.title%>（<%=item.num%>）</span></p>
				<%
					}
				});%>
			</div>
			<%}%>
			<!--sidebar-post-tag end-->

            <% var promiseList=data.right.promiseList||[];
                    if(promiseList.length>0){%>
			<div class="sidebar-service mb30">
				<h3 class="f14 mb5 fc6 fb">服务与承诺</h3>
				<ul class="sidebar-service-list">
					<% (data.right.promiseList||[]).forEach(function(item){%>
					<li class="sidebar-service-item hz-media-box">
                        <div class="hz-media-pic"><i class="iconfont primary-color f18 mr10">&#xe725;</i></div>
                        <div class="hz-media-content"><%=item%></div>
                    </li>
					<%});%>
				</ul>
			</div>
            <%}%>
			<!--sidebar-service end-->


			<div class="sidebar-billing fn-hide">
				<img src="//img.huizecdn.com/hz/www/page/hzapp.jpg" width="120" alt="">
				<p class="mt10">扫一下，APP投保更优惠</p>
			</div>
			<!--sidebar-billing end-->
		</div>
		<!--detail-sidebar-info end-->
		<!--置顶显示-->
		<div class="sidebar-product-info">
			<p><strong>保费</strong></p>
			<%
				var price=data.restrictRules[0].trialPrice.vipPrice&&(data.restrictRules[0].trialPrice.vipPrice/100).toFixed(2);
			%>
			<div class="mt15 mb15 f18" preminum="">
				<div class="product-price">¥<i class="preminum-result"><%=(price||"")%></i></div>
				<%if(data.restrictRules[0].trialPrice.vipPrice!==data.restrictRules[0].trialPrice.originalPrice){%>
				<del class="fc9 f12">¥<%=(data.restrictRules[0].trialPrice.originalPrice/100).toFixed(2)%></del>
				<%}%>
			</div>
			<div salepromotionlist>
				<% var saleList=(locals.defaultPlanItem.salePromotionList||[]);
					var salePromotaionArr = ['赠品', '红包', '金豆', '满减', '预约'];
					saleList.forEach(function(item) {
				%>
				<div class="mb10"><span class="hz-badge hz-badge-primary hz-radius mr10"><%=salePromotaionArr[item.typeCode]%></span><span class="fc9"><%=item.activityName%></span></div>
				<%})%>

				<% if(data.restrictRules[0].trialPrice.goldenBean){%>
				<div><span class="hz-badge hz-badge-primary hz-radius mr10">赠品</span><span style="color:#ff5400;"> <span class="golden-span"><%=data.restrictRules[0].trialPrice.goldenBean%></span>金豆</span></div>
				<%}%>
			</div>


			<div class="mt20">
				<p><a class="hz-button hz-button-primary hz-button-large hz-button-block <%=locals.supportBuyType%>" href="javascript:;" insuredstart>立即投保</a></p>
				<%if(security.supportShoppingCart&&(locals.pcStatus)){%>
				<p class="mt20"><a class="hz-button hz-button-secondary hz-button-large hz-button-block" addtoShopCar href="javascript:;">加入购物车</a></p>
				<%}else{%>
                <p class="mt20"><a class="hz-button hz-button-secondary hz-button-large  hz-button-block <% if(!locals.pcStatus){%> hz-button-disabled<%}else{%>fn-hide<%}%>" href="javascript:;" addtoShopCar>加入购物车</a></p>
				<%}%>
				<% if((data.security.pcBuyType+"").indexOf("3")>-1){%>
				<p class="tac mt10"><a target="_blank" class="primary-link"  href="http://www.huize.com/baoxianyuyue?planId=<%=data.security.planId || locals.defaultPlanItem.planId%>&oppName=产品详情页预约">预约顾问</a></p>
				<%}%>
			</div>
		</div>
		<!--sidebar-product-info end-->
	</div>
</div>