<!--底部版权信息-->
<div class="footer-wrap">
    <div class="footer layout">

        <ul class="hz-ensure">
            <li class="hz-ensure-item">
                <p><i class="iconfont f36">&#xe624;</i></p>
                <strong>保监会网销</strong><span class="pl10 fc9">营业认证</span>
            </li>
            <li class="hz-ensure-item"><p><i class="iconfont f36">&#xe623;</i></p><strong>1000+ 产品</strong><span class="pl10 fc9">一站选购</span></li>
            <li class="hz-ensure-item"><p><i class="iconfont f36">&#xe622;</i></p><strong>100+ 保险公司</strong><span class="pl10 fc9">授权合作</span></li>
            <li class="hz-ensure-item"><p><i class="iconfont f36">&#xe621;</i></p><strong>9+ 年保险服务</strong><span class="pl10 fc9">专业更信赖</span></li>
            <li class="hz-ensure-item"><p><i class="iconfont f36">&#xe620;</i></p><strong>全程理赔协助</strong><span class="pl10 fc9">理赔不再是难题</span></li>
        </ul><!--hz-ensure end-->


        <div class="hz-server">
            <dl class="row01">
                <dt>新手指南</dt>
                <dd><a href="<%=oldMainHost%>help/question-22" target="_blank" rel="nofollow" class="lk-f8"> 金豆使用说明</a></dd>
                <dd><a href="<%=oldMainHost%>help/" target="_blank" rel="nofollow" class="lk-f8">网站投保演示</a></dd>
                <dd><a href="<%=oldMainHost%>help/question-23" target="_blank" rel="nofollow" class="lk-f8"> 红包使用说明</a></dd>
                <dd><a href="<%=oldMainHost%>product/prodreview/" target="_blank" class="lk-f8">产品问题大全</a></dd>
            </dl>
            <dl class="row02">
                <dt>理赔服务</dt>
                <dd> <a href="<%=oldMainHost%>claims/" target="_blank" class="lk-f8">理赔无忧</a></dd>
                <dd><a href="<%=oldMainHost%>claims/case.html" target="_blank" class="lk-f8">典型理赔案例</a></dd>
                <dd><a href="<%=oldMainHost%>help/question-47" target="_blank" class="lk-f8">各家保险理赔电话</a></dd>
            </dl>
            <dl class="row03">
                <dt>保单说明</dt>
                <dd><a href="<%=oldMainHost%>help/questiondetail-149" target="_blank" rel="nofollow" class="lk-f8">保单寄送及说明</a></dd>
                <dd><a href="<%=oldMainHost%>help/questiondetail-155" target="_blank" rel="nofollow" class="lk-f8">保单变更说明</a></dd>
                <dd><a href="<%=oldMainHost%>help/questiondetail-131" target="_blank" rel="nofollow" class="lk-f8">退保说明</a></dd>
            </dl>
            <dl class="row04">
                <dt>支付帮助</dt>
                <dd><a href="<%=oldMainHost%>help/questiondetail-21" target="_blank" rel="nofollow" class="lk-f8">在线支付说明</a></dd>
                <dd><a href="<%=oldMainHost%>help/questiondetail-148" target="_blank" rel="nofollow" class="lk-f8">如何开通网上银行</a></dd>
                <dd><a href="<%=oldMainHost%>help/questiondetail-133" target="_blank" rel="nofollow" class="lk-f8">线下汇款说明</a></dd>
            </dl>
            <dl class="row05">
                <dt>服务中心</dt>
                <dd><a href="<%=oldMainHost%>about/about-khfw.aspx" target="_blank" rel="nofollow" class="lk-f8">在线客服</a></dd>
                <dd><a href="<%=oldMainHost%>insure/policyquery" target="_blank" rel="nofollow" class="lk-f8">保单查询</a></dd>
                <dd><a href="http://files.hzins.com/static/long/AdbeRead_zh_CN.exe" target="_blank" rel="nofollow" class="lk-f8">安装PDF阅读器</a></dd>
            </dl>
            <dl class="row06">
                <dt><img src="//images.hzins.com/short/www/seo/fhz.png" width="75" height="75" alt=""></dt>
                <dd>
                    <p class="mt10 fc6 f12" style="margin-left: 8px;">移动端下载</p>
                </dd>
            </dl>

            <dl class="row07">
                <dt><img src="//images.hzins.com/short/www/seo/fhz.png" width="75" height="75" alt=""></dt>
                <dd>
                    <p class="ml15 mt10 fc6 f12">微信投保</p>
                    <p class="pt5 fc6 f12" style="margin-left: 8px;">扫码有惊喜</p>
                </dd>
            </dl>

            <dl class="row08 last-item">
                <dt><img src="//img.huizecdn.com/hz/www/page/hz-foot-logo.png" alt="慧择保险网" title="慧择保险网" /></dt>
                <dd>
                    <p class="f24 hottel"><%=tel%></p>
                    <p class="mt5 hottel-tip f12">全国服务热线(7x24小时人工服务)</p>
                </dd>
            </dl>
        </div><!--hz-server end-->

        <!--友情链接-->
        <div class="hz-friend-link fn-hide">

            <ul class="friend-link-tab-list clearfix">
                <li class="first-item fb fl">友情链接</li>
                <li class="friend-link-tab-item fl"><a href="javascript:;">保险网站</a></li>
                <li class="friend-link-tab-item active fl"><a href="javascript:;">金融网站</a></li>
                <li class="friend-link-tab-item fl"><a href="javascript:;">其他</a></li>
            </ul>

            <div class="friend-link-tab-container">

                <div class="friend-link-tab-pane">
                    <a href="#" target="_blank">聚米网</a>
                    <a href="#" target="_blank">新一站保险网</a>
                    <a href="#" target="_blank">向日葵保险网</a>
                    <a href="#" target="_blank">沃保保险网</a>
                    <a href="#" target="_blank">新浪保险</a>
                    <a href="#" target="_blank">腾讯保险</a>
                </div>

                <div class="friend-link-tab-pane">
                    <a href="#" target="_blank">聚米网</a>
                    <a href="#" target="_blank">新一站保险网</a>
                    <a href="#" target="_blank">向日葵保险网</a>
                    <a href="#" target="_blank">沃保保险网</a>
                    <a href="#" target="_blank">新浪保险</a>
                    <a href="#" target="_blank">腾讯保险</a>
                </div>

                <div class="friend-link-tab-pane">
                    <a href="#" target="_blank">聚米网</a>
                    <a href="#" target="_blank">新一站保险网</a>
                    <a href="#" target="_blank">向日葵保险网</a>
                    <a href="#" target="_blank">沃保保险网</a>
                    <a href="#" target="_blank">新浪保险</a>
                    <a href="#" target="_blank">腾讯保险</a>
                </div>
            </div><!--friend-link-tab-container end-->
        </div><!--hz-friend-link end-->
    </div><!--footer end-->
</div><!--footer-wrap end-->

<%include ../footer/_copyright%>