<%
    var
        gateways = (data.gateways || {}).paymentWays || [],
        gatewayBanks = (gateways[0] || {}).gatewayBanks,
        creditCard = [],
        depositCard = [],
        lastGatewayCode =  data.gateways.lastGatewayCode,
        lastBankId = data.gateways.lastBankId,
        firstInsuranceName = (data.insuranceInfos[0].insureCompanyName || "") + (data.insuranceInfos[0].productPlatformName || "") + (data.insuranceInfos[0].planPlatformName || ""),
        lastPaymentType;
    firstInsuranceName = firstInsuranceName.length > 15 ? firstInsuranceName.substr(0,15) + "..." : firstInsuranceName;
    gateways.forEach(function(item){
        if(lastGatewayCode == item.gatewayCode && lastBankId== void 0){
            lastPaymentType = item;
        }
    });
    ;(gatewayBanks || []).forEach(function(item){
        if(item.bankId == lastBankId){
            lastPaymentType = item;
        }
        if(item.supportCreditCard){
            creditCard.push(item);
        }
        else if(item.supportDepositCard){
            depositCard.push(item);
        }
    });

%>
<div class="order-checkout-page pb20 bgf0">
    <div class="layout pb40 clearfix pt25 pb30">
        <div class="order-checkout-meta">
            <a href="/orders/payment/change-settlement?orderNum=<%= data.orderNum%>" class="fr pt5 f16 primary-link">返回修改</a>
            <h2 class="pb15 f18">收银台</h2>
        </div>
        <div class="bgfb">
            <div class="order-product-info">
                <p class="mb5 f14"><strong>订单已提交，请尽快支付！订单号：<%= data.orderNum%></strong></p>
                <div class="checkout-info clearfix">
                    <div class="fr">
                        <span class="mr30 pr30 fc6">应付总额</span>
                        <p class="inline-block primary-color"> <span class="f30 pr5"><%= (data.totalPayableAmount / 100).toFixed(2)%></span>元</p>
                    </div>
                    <span>
                        请于 <strong class="primary-color"><%= data.lastPaymentDay%></strong>
                        前支付，否则订单会自动失效哦
                    </span>
                </div>
            </div>
            <div class="checkout-product ml30">
                <div class="tar">
                    订单产品：<%= firstInsuranceName %>
                    <a class="inline-block target-dropdown-link ml20" href="javascript:;" id="toggleProductDetail">
                        详情 <i class="iconfont fc9 f18">&#xe70b;</i>
                    </a>
                </div>
                <div class="checkout-product-dropdown" style="display: none;">
                    <table class="hz-table bgfw">
                        <col width="55%"/>
                        <col width="15%"/>
                        <col width="15%"/>
                        <col width="15%"/>
                        <thead>
                            <tr class="fc6">
                                <th class="tal">保险产品</th>
                                <th class="tal">购买数量</th>
                                <th class="tal">生效日期</th>
                                <th class="tal">保费</th>
                            </tr>
                        </thead>
                        <tbody>
                        <%data.insuranceInfos.forEach(function(item){
                            var insuranceName = (item.insureCompanyName || "") + (item.productPlatformName || "") + (item.planPlatformName || "");
                            insuranceName = insuranceName.length > 28 ? insuranceName.substr(0,28) + "..." : insuranceName;
                        %>
                            <tr>
                                <td class="f14"><%= insuranceName%></td>
                                <td><%= item.totalNum%>份</td>
                                <td><%= item.startDate%></td>
                                <td><strong class="primary-color"><%= (item.totalBuyPrice / 100).toFixed(2)%></strong></td>
                            </tr>
                       <% });%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <% if(lastPaymentType !== void 0){%>
            <div class="mt20" id="lastPaymentType">
                <div class="hz-tab-box hz-tab-style01 pay-tab-menu">
                    <ul class="hz-tab-menu">
                        <li class="hz-tab-menu-item active" data-tab="plat-1"><a href="javascript:;">当前支付方式</a></li>
                    </ul>
                    <div class="tab-container p30 bgfw"  style="padding-bottom: 1px;">
                        <div class="tab-pane hidden show" data-tab="plat-1">
                            <div class="pay-list mb30">
                                <div class="hz-radio-item inline-block hz-radio-item-checked" data-gateway-code="<%= lastPaymentType.gatewayCode%>">
                                    <i class="hz-radio-icon mt5"></i>
                                    <img class="pl10" src="<%= lastPaymentType.logUrl || lastPaymentType.logoUrl %>" width="120" height="30" alt="<%= lastPaymentType.name%>"/>
                                </div>
                                <div class="mt20">
                                    <a href="##" title="其它支付方式" class="more-pay" id="morePaymentType">
                                        其它支付方式 <i class="iconfont">&#xe707;</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
        <div class="mt20" id="allPaymentType" style="display: <%= lastPaymentType === void 0 ? 'block' : 'none'%>">
            <div class="hz-tab-box hz-tab-style01 pay-tab-menu">
                <ul class="hz-tab-menu" id="payTypeMenu">
                    <li class="hz-tab-menu-item active" data-tab="plat-1"><a href="javascript:;">支付平台</a></li>
                    <li class="hz-tab-menu-item" data-tab="plat-2"><a href="javascript:;">储蓄卡</a></li>
                    <li class="hz-tab-menu-item" data-tab="plat-3"><a href="javascript:;">信用卡</a></li>
                </ul>
            </div>
            <div class="p30 bgfw" style="padding-bottom: 1px;" >
                <div class="tab-container " id="payTypeContent">
                    <div class="tab-pane hidden show" data-tab="plat-1">
                        <div class="pay-list mb30">
                            <% gateways.forEach(function(item){ %>
                                <div class="hz-radio-item inline-block <%= (lastGatewayCode == item.gatewayCode && lastBankId === undefined ) ? "hz-radio-item-checked" : ""%>" data-gateway-code="<%= item.gatewayCode%>">
                                    <i class="hz-radio-icon mt5"></i>
                                    <img class="pl10" src="<%= item.logoUrl %>" width="120" height="30" alt="<%= item.name%>"/>
                                </div>
                           <% });%>
                        </div>
                    </div>
                    <div class="tab-pane hidden" data-tab="plat-2">
                        <div class="pay-list mb30">
                            <% creditCard.forEach(function(item){ %>
                                <div class="hz-radio-item inline-block" data-bankid="<%= item.bankId%>">
                                    <i class="hz-radio-icon mt5"></i>
                                    <img class="pl10" src="<%= item.logUrl%>"  width="120" height="30" alt="<%= item.name%>"/>
                                </div>
                            <% });%>
                        </div>
                    </div>
                    <div class="tab-pane hidden" data-tab="plat-3">
                        <div class="pay-list mb30">
                            <% depositCard.forEach(function(item){ %>
                            <div class="hz-radio-item inline-block" data-bankid="<%= item.bankId%>">
                                <i class="hz-radio-icon mt5"></i>
                                <img class="pl10" src="<%= item.logUrl%>"  width="120" height="30" alt="<%= item.name%>"/>
                            </div>
                            <% });%>
                        </div>
                    </div>

                </div><!--tab-container end-->
            </div>


        </div><!--tab end-->
        <p class="tar bgfw pb30 pr30">
            <a class="hz-button hz-button-primary button-pay" href="javascript:;" id="submitGatewayPayment">立即支付</a>
        </p>
        <h2 class="pt25 pb20 f18">支付帮助</h2>

        <div class="p30 bgfw">
            <ol class="lh20">
                <li class="mb10">
                    <p class="fc6"><strong>点“支付”后，不能弹出支付页面什么原因？</strong></p>
                    <p>
                        这可能是由于您安装了拦截弹出广告的软件，在进行网上投保前要关闭拦截功能，否则支付过程中有可能进入不到银行界面。
                    </p>
                </li>
                <li class="mb10">
                    <p class="fc6"><strong>支付界面无法输入卡号和密码，如何处理？</strong></p>
                    <p>
                        进入银行支付页面，浏览器提示您选择“是否安装交易签名插件”时，您只要选择是就可以避免上述问题。
                    </p>
                </li>
                <li>
                    <p class="fc6"><strong>我支付完成了，为什么投保单还是待支付？</strong></p>
                    <p>
                        这可能是因为您安装了如 3721上网助手、google搜索工具之类的弹出窗口拦截程序，这些程序有可能在支付时拦截银行提供的结果页面，导致不能正确的返回支付结果。如果已经支付成功，投保单状态还是待支付，请您马上联系我们。热线电话：4006-366-366
                    </p>
                </li>
            </ol>
        </div>

    </div><!--layout end-->
    <!--微信支付-->
    <div class="pay-dialog" id="wechatPayment" style="display: none;">

        <div class="p30 tac">
            <h3 class="f20 tal">微信支付：<span class="primary-color f30"><%= (data.totalPayableAmount / 100).toFixed(2)%></span><span class="primary-color f14 ml10">元</span></h3>
            <div class="hz-media-box pt45 pb45 inline-block">
                <div class="hz-media-pic mr30">
                    <div class="p20" style="border: 1px solid #ddd;">
                        <img src="" width="235" class="qr-code-img">
                        <p class="f20 pt10">微信扫码支付</p>
                    </div>

                </div>

                <div class="hz-media-box-content">
                    <img src="//img.huizecdn.com/hz/www/page/pay-wx-guide.png" alt="发现 > 扫一扫"/>
                </div>
            </div>

            <p class="bor-top pt20"><a href="javascript:;" class="other-payment-type">使用其它支付方式 &gt;</a></p>
        </div>

    </div>
    <!--支付帮助-->
    <div class="pay-dialog" id="paymentHelp" style="display: none">
        <div class="p30 f14 lh24">
            <p>
                <strong>
                    请在新的<span style="color:#f6ab1a" id="gatewayName">支付宝支付</span>页面完成付款
                </strong>
            </p>

            <p>
                请于 <strong class="primary-color"><%= data.lastPaymentDay%></strong>
                日前支付，否则订单会自动失效哦
            </p>

            <div class="complete-tip mt10">
                <i class="iconfont f24">&#xe716;</i>
                已支付，请点击 <a class="button-status" href="javascript:;" id="completedPayment">已完成付款</a>
            </div>

            <div class="error-tip mt10">
                <i class="iconfont f24">&#xe713;</i>
                支付遇到问题，您可以 <a class="button-status mr10" href="javascript:;" id="otherPaymentType">更改支付方式</a>
                或联系 <a class="primary-link" href="javascript:;" id="kfLink">在线客服</a>
            </div>
        </div>

        <div class="pay-faq">
            <h3 class="f14">
                <a class="help-link" href="javascript:;">
                    查看支付帮助<i class="iconfont fc9 f18">&#xe70b;</i>
                </a>
            </h3>

            <div class="payment-help" style="display: none">
                <dl class="mt5">
                    <dt class="fb">1.支付宝或银行已经扣款，但订单状态仍然是等待付款状态？</dt>
                    <dd>答：支付宝或银行扣款成功后数据还没有及时传输给我们，请耐心等耐几分钟后订单会自动更新状态为付款状态。</dd>
                </dl>

                <dl class="mt5">
                    <dt class="fb">2.网上银行页面打不开，怎么办？</dt>
                    <dd>答: 建议使用Microsoft IE 6以上版本浏览器，同时在IE浏览器点击菜单“工具”-“internet选项”-“安全”，将安全中的各项设置恢复到默认级别。 </dd>
                </dl>

                <dl class="mt5">
                    <dt class="fb">3.我网上银行重复多次付款了这么办？</dt>
                    <dd>
                        答：由于您的支付信息银行没有及时传输给支付宝，造成您的银行重复扣款。不过请放心我，我们会在第二日和银行对账，确认您的汇款后，重复支付款项
                        会直接充值都您的支护宝账户。
                    </dd>
                </dl>

                <p class="mt10">
                    <a target="_blank" class="primary-link" href="http://www.huize.com/help/question-53" >更多帮助</a>
                </p>
            </div>

        </div>
    </div>
</div><!--page end-->
<script>
    var pageData = <%- JSON.stringify(data)%>;
</script>