<%
var hotProducts =locals.hotSaleProducts||[];
hotProducts = hotProducts.slice(0,4);
%>
<ul class="hot-product-list mt15  clearfix">
    <%hotProducts.forEach(function(item){%>
        <li class="hot-product-item">
            <a class="hot-product-thumbnails" href="http://www.huize.com/product/detail-<%=item.productId%>.html<%=item.planId ? '?DProtectPlanId=' + item.planId  : ''%>" target="_blank">
                <img width="100%" src="<%=item.pic%>" alt="<%=item.productName%>">
            </a>

            <div class="hot-product-info">
                <h2 class="hot-product-title"><a class="f18" target="_blank" href="http://www.huize.com/product/detail-<%=item.productId%>.html<%=item.planId ? '?DProtectPlanId=' + item.planId  : ''%>"><%=item.productName%></a></h2>
                <p class="hot-product-des ell fc9"><%=item.shortDesc%></p>
            </div>
            <span class="product-tag-ico hz-bgpic-sprite hz-bgpic-5">推荐</span>
        </li>
    <%})%>
</ul>