<%
    var pathNav=locals.pathNav||{};
    var parentCategory =pathNav.parentCategory;
    var botherCategory =pathNav.childrenCategories||[];
    var currentCategory =pathNav.currentCategory;  
%>
<div class="product-list-page">
    <!--详情页面标识-->

    <div class="bgf0 pb30">
        <div class="layout">
            <div class="hz-breadcrumb pt10">
                <a href="//www.huize.com">慧择保险网</a>
                <% if(parentCategory){ %>
                    <i class="arrow-right">&gt;</i>
                    <a href="/product/ins-<%=parentCategory.id%>-0-0"><%=parentCategory.text%></a>
                <% } if(currentCategory){ 
                    %>
                    <%if(locals.queryKeyName){%>
                        <i class="arrow-right">&gt;</i>
                        <a href="/product/ins-<%=currentCategory.id%>-0-0"><%=currentCategory.text%></a>
                        <i class="arrow-right">&gt;</i>
                        <h1 class="hz-breadcrumb-active"><%=locals.queryKeyName + (locals.smallCategoryText ? "_" + locals.smallCategoryText.replace(/(保障)|(保险)$/,function(key){
                                if(key){
                                    return key;
                                }
                                else{
                                    return "保险";
                                }
                            }) : "")%></h1>
                    <%}else{%>
                        <i class="arrow-right">&gt;</i>
                        <h1 class="hz-breadcrumb-active"><%=currentCategory.text%></h1>
                <% }} %>
            </div>
            <!--hz-breadcrumb end-->
            <%include _filter-hot-products %>
        </div>
        <!--layout end-->
    </div>


    <div class="layout clearfix pt30 pb30">
        <div class="layout-primary">
            <div class="layout-inner-primary">
                <% include _filter %>
                <div class="hz-product-list">
                <%-locals.productListHtml%>
                </div>
                <%if(data.productCount>10){%>
                    <div class="hz-pagination mt15" id="kkpager"></div>
                <%}%>
            </div>


        </div>
        <!--detail-primary-->
        <%include _filter-right %>
        <!--detail-sidebar end-->

    </div>
    <!--layout end-->


    <div class="layout">

        <div class="view-history-scroll" id="historyData">
            <div class="view-history-header">
                <div class="fr view-history-page  fn-hide" id="viewHistoryPage">
                    <a class="view-history-scroll-item view-history-scroll-prev" href="javascript:;"  id="prevBtn"><i class="iconfont">&#xe706;</i></a><a class="view-history-scroll-item view-history-scroll-next" href="javascript:;"id="nextBtn"><i class="iconfont">&#xe707;</i></a>
                </div>
                <h3 class="f18">最近浏览</h3>
            </div>

            <div class="view-history-scroll-box" style="overflow: hidden;"  id="viewContainer">
                <div class="mt35"><% include ../layout/_loading %></div>
                <!--view-history-list end-->
            </div>
            <div class="f14 pt25 mt15" id="emptyData" style="display:none; border-top: 1px solid #f6ab1a;">
                 您最近没有浏览记录
            </div>

        </div>
    </div>
    <input type="hidden" id='subCategory' value="<%=locals.subCategory%>">
    <input type="hidden" id='companyId' value="<%=locals.companyId%>">
    <input type="hidden" id='queryKeys' value="<%=locals.queryKeys%>">
    <input type="hidden" id='genes' value="<%=locals.genes%>">
    <input type="hidden" id='sortType' value="<%=locals.sortType%>">
    <input type="hidden" id='filter' value="<%=locals.filter%>">
    <input type="hidden" id='pageIndex' value="<%=locals.pageIndex%>">
    <input type="hidden" id='totalCount' value="<%=locals.data.productCount%>">
    <input type="hidden" id='ageGenes' value="<%=locals.isAgeGenes%>">
</div>