<div class="hz-copyright tac">
    <p class="foot-nav">
        <a href="<%= locals.mainHost %>about/about-about.html" target="_blank" data-content="|">关于慧择</a>
        <a href="<%= locals.mainHost %>about/news-0.html" target="_blank" data-content="|">慧择动态</a>
        <a href="<%= locals.mainHost %>about/akhfw.html" target="_blank" rel="nofollow" data-content="|">客户服务</a>
        <a href="<%= locals.mainHost %>about/job.html" target="_blank" rel="nofollow" data-content="|">诚聘英才</a>
        <a href="<%= locals.mainHost %>about/partners.html" target="_blank" data-content="|">友情链接</a>
        <a href="<%= locals.mainHost %>about/contact.html" target="_blank" rel="nofollow" data-content="|">联系我们</a>
        <a href="<%= locals.mainHost %>about/about-flsm.html" target="_blank" rel="nofollow" data-content="|">法律声明</a>
        <a href="<%= locals.mainHost %>about/about-map.html" target="_blank" data-content="|">网站地图</a>
        <a href="http://website.huize.com/" target="_blank" rel="nofollow" data-content="|">保险网址</a>
        <a href="http://ap.hzins.com/" target="_blank" rel="nofollow" data-content="|">开放平台</a>
        <a href="<%= locals.mainHost %>about/jubao.html" rel="nofollow" target="_blank">公众举报</a>
    </p>

    <p class="mt5 fc9">
        <span>保险业务经营许可证：<a class="fc9" rel="nofollow" target="_blank" href="//img.huizecdn.com/hz/www/page/license/001_w800px.jpg">260957000000800</a></span>
        <span class="fc3">深圳市慧择保险经纪有限公司：</span><a class="fc9" rel="nofollow" target="_blank" href="//img.huizecdn.com/hz/www/page/license/003_w800px.jpg">440301105759096</a>
        <span class="pl10"><a class="fc9" rel="nofollow" target="_blank" href="http://www.miibeian.gov.cn">粤ICP备11097712号</a></span>
        <span class="pl10">Copyright &copy;2006-<script>document.write((new Date()).getFullYear())</script></span>
        <span class="pl10"><a class="fc9" target="_blank" href="http://www.hzins.com">慧择保险网</a></span>
        <span class="pl10">版权所有</span>
    </p>
</div>
<!--hz-copyright end-->