<!--底部版权信息-->
<div class="hz-footer-wrap">
    <div class="hz-footer">

        <div class="hz-ensure-wrap">
            <ul class="hz-ensure layout">
                <li class="hz-ensure-item hz-ensure-item01">
                    <a href="http://www.circ.gov.cn/web/site0/tab4491/info193231.htm" target="_blank">
                        保监会网销<br/>营业认证
                    </a>
                </li>
                <li class="hz-ensure-item hz-ensure-item02">
                    <a href="http://www.huize.com/fuwubaozhang/#yzxg" target="_blank">
                        1000+ 产品<br/>一站选购
                    </a>
                </li>
                <li class="hz-ensure-item hz-ensure-item03">
                    <a href="http://www.huize.com/fuwubaozhang/#hzsq" target="_blank">
                        80+ 保险公司<br/>授权合作
                    </a>
                </li>
                <li class="hz-ensure-item hz-ensure-item04">
                    <a href="http://www.huize.com/fuwubaozhang/#zyfw" target="_blank">
                        全程理赔协助<br/>理赔不再是难题
                    </a>
                </li>
                <li class="hz-ensure-item hz-ensure-item05">
                    <a href="http://www.huize.com/fuwubaozhang/#xb" target="_blank">

                        10+ 年保险服务<br/>专业更信赖
                    </a>
                </li>
            </ul>
        </div>
        <!--hz-ensure end-->

        <div class="layout pt35 pb35">
            <!--友情链接-->
            <div class="hz-friend-link">
                <div class="hz-friend-link-title fl fc3 mr20 fb">友情链接</div>

                <%
                var friendLinkData = (locals.data && locals.data.friendlyLinks) || [],
                    titleIndex = 0, //索引值
                    itemIndex = 0; //索引值
                %>

                <div class="hz-friend-link-content">
                    <ul class="friend-link-tab-list">
                        <%
                            for (i in friendLinkData) {

                            var friendLinkItem = friendLinkData[i];
                            var title = i;

                                titleIndex = ++titleIndex;
                        %>
                            <li class="friend-link-tab-item <%if(titleIndex ===1){%>active<%}%>" data-tab="frined-<%=titleIndex%>"><a href="javascript:;"><%=title%></a></li>
                        <%}%>

                    </ul>

                    <div class="friend-link-tab-container">
                        <%
                            for (i in friendLinkData) {

                            var friendLinkItem = friendLinkData[i];
                            var title = i;

                            itemIndex = ++itemIndex;
                        %>
                        <div class="friend-link-tab-pane  <%if(itemIndex !=1){%>fn-hide<%}%>" data-tab="frined-<%=itemIndex%>">
                            <%
                            friendLinkItem.forEach(function(item,i){
                            %>

                            <a href="<%-item.linkUrl%>" target="_blank" ><%-item.linkText%></a>

                            <%})%>
                        </div>

                        <%}%>

                    </div>
                    <!--friend-link-tab-container end-->
                </div>

            </div>
            <!--hz-friend-link end-->

            <div class="clearfix">

                <div class="hz-server fl">
                    <div class="hz-server-box">
                        <div class="hz-server-title fl fc3 mr20 fb">关于慧择</div>

                        <div class="hz-server-content">
                            <a href="http://www.huize.com/about/About-About.html" target="_blank" rel="nofollow">慧择介绍</a>
                            <a href="http://www.huize.com/about/contact.html" target="_blank" rel="nofollow">联系我们</a>
                            <a href="http://www.huize.com/about/news-0.html" target="_blank" rel="nofollow">公告和新闻</a>
                            <a href="http://www.huize.com/about/job.html" target="_blank">平台招聘</a>
                        </div>
                    </div>
                    <div class="hz-server-box mt10">
                        <div class="hz-server-title fl fc3 mr20 fb">帮助中心</div>
                        <div class="hz-server-content">
                            <a href="http://www.huize.com/help/questiondetail-21" target="_blank">支付相关</a>
                            <a href="http://www.huize.com/help/questiondetail-149" target="_blank">保单寄送相关</a>
                            <a href="http://www.huize.com/help/questiondetail-155" target="_blank">保单变更相关</a>
                            <a href="http://www.huize.com/help/questiondetail-131" target="_blank">退保说明</a>
                            <a href="http://www.huize.com/help/question-47" target="_blank">理赔相关</a>
                        </div>
                    </div>
                    <div class="hz-media-box mt10">
                        <div class="hz-server-title fl fc3 mr20 fb">其&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;它</div>

                        <div class="hz-server-content">
                            <a href="http://ap.hzins.com/" target="_blank" rel="nofollow" class="lk-f8">开放平台</a>
                            <a href="http://www.huize.com/about/jubao.html" target="_blank" rel="nofollow" class="lk-f8">公众举报</a>
                        </div>

                    </div>
                </div>
                <!--hz-server end-->
                <div class="hz-foot-others fl ml25">

                    <div class="fl mr20">
                        <div class="fl mr10">
                            <img src="//img.huizecdn.com/hz/www/page/hzapp.jpg" width="75" height="75" alt="慧择app二维码">
                        </div>

                        <div class="fl pt20">
                            <strong>慧择保险APP</strong>
                            <p class="pt5">移动端下载，马上领取保险！</p>
                        </div>

                    </div>

                    <div class="fl">
                        <div class="fl mr10">
                            <img src="//img.huizecdn.com/hz/www/page/wfw-qcode.png" width="75" height="75" alt="慧择微信二维码">
                        </div>

                        <div class="fl pt20">
                            <strong>关注慧择微信</strong>
                            <p class="pt5">微信投保，扫码惊喜</p>
                        </div>

                    </div>

                    <div class="fr tar pt5" style="margin-left: 85px;">
                        <p class="f24 hottel primary-color">4006-366-366</p>
                        <p class="hottel-tip f12">全国服务热线(7x24小时人工服务)</p>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <!--footer end-->

</div>
<!--footer-wrap end-->




<%include ../footer/_copyright%>