<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
<title><%= title%></title>
<meta name="keywords" content="<%= keyword %>" />
<meta name="description" content="<%= description.replace(/\s{2,}/g, '') %>" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="canonical" href="<%= mainHost + (locals.curPath || '') %>" />
<% if (locals.hasH5Page) { %>
    <link rel="alternate" media="only screen and(max-width: 640px)" href="<%= mainHostMobile + (locals.curPath || '') %>" />
<% } %>