<input type="hidden" class="page-id" value="<%=pageId%>" />
<!-- 需要变更的产品ID，多个ID用,逗号分开 -->
<input type="hidden" class="change-id" value="1000043,1633" />
<input type="hidden" class="change-date" data-id="1000043" data-unit="周岁" value="18-24,25-29,30-34,35-39,40-44,45-49,50" />

<div class="fixed-plan">
    <div class="detail-tab-wrap">
            <div class="layout">

                <% include _fixed-head %>

            </div>
            <!--layout end-->
        </div>
    <div class="fix-plan-top">
        <div class="layout">
            <h3 class="f30 fl" id="planName" data-title="<%=planName%>"><%=planName%>
                <span class="f18 primary-color">￥</span>
                <span class="primary-color plan-top-price">2776.00</span><span class="f18 primary-color">起</span></h3>
                <a href="javascript:;" class="hz-button hz-button-primary fr pl40 pr40 add-cart-btn add-cart-top">加入购物车</a>
                <a href="http://www.huize.com/baoxianyuyue?oppName=<%=planName%>" target="_blank" class="fix-plan-bn">预约顾问</a>
        </div>
    </div>
</div>


    <div class="top-location layout programs-content">
                    <div class="plan-banner plan-b6">
                            <div class="f36 fcw fb mb5">看病从此不花钱</div>
                            <ul class="plan-listo fcw">
                                    <li><span class="mr5">&bull;</span>3万住院医疗保障</li>
                                    <li><span class="mr5">&bull;</span>异地就医也能报</li>
                                    <li><span class="mr5">&bull;</span>61种重疾、15种轻症全面保障</li>
                                    <li><span class="mr5">&bull;</span>最高100万意外保障</li>
                            </ul>
                    </div>
                    <div class="plan-introduce">
                            <div class="plan-icon1"><i class="iconfont">&#xe753;</i></div>
                            <p class="ovh lh22 f14 ti2em"><%=planDesc%>其中“至尊计划”超过26岁，需要重疾保障可单独投保“<a href="//www.huize.com/product/detail-1633.html" class="base-color" target="_blank">华夏关爱宝一号重大疾病保险</a>”</p>
                    </div>
                        <!-- 推荐计划 -->
        <ul class="plan-list-com plan-list-c1"><!-- 三种方案 -->
            <li data-planid="1061" class="bdC4E8D6">
                    <h3>初级计划</h3>
                    <div class="pl30 pr30">
                            <div class="plan-list-item clearfix">
                                    <label class="fl" for="calendar-demo1">出生日期</label>
                                    <p class="fr">
                                            <input class="Wdate" type="text" data-max="50" data-maxunit="year" data-min="18" data-minunit="year" data-val="30" data-valunit="year" data-key="insurantDate" id="calendar-demo1">
                                    </p>
                            </div>
                             <div class="plan-list-item clearfix">
                                    <label class="fl" for="sex">性别</label>
                                    <div class="plan-radio-wrap" data-val="男" data-key="sex">
                                        <div class="plan-radio active fl" data-val="男">男<p><span>&bull;</span></p></div>
                                        <div class="plan-radio fr" data-val="女">女<p><span>&bull;</span></p></div>
                                    </div>
                             </div>
                             <div class="plan-list-item clearfix">
                                <label class="fl" for="job">职业类别<a href="//www.huize.com/product/dialog/job-1000043-0.html" target="_blank" class="plan-list-item-link">？</a></label>
                                <div class="hz-dropdown fr" data-val="1-2类" data-key="insurantJob">
                                    <div class="input-select">
                                        <span class="input-select-text">1-2类</span>
                                        <b class="iconfont">&#xe70b;</b>
                                    </div>

                                    <div class="hz-dropdown-content" style="width:250px;">
                                        <ul class="hz-dropdown-menu">
                                            <li data-val="1-2" class="hz-select-option hz-select-option-selected">1-2类</li>
                                            <li data-val="3" class="hz-select-option">3类</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                               <div class="plan-list-item clearfix">
                                    <span class="fl">意外身故/伤残</span>
                                    <p class="fr fb">20万元</p>
                               </div>
                                <div class="plan-list-item clearfix">
                                    <span class="fl">住院医疗</span>
                                    <p class="fr fb">3万元/年</p>
                               </div>
                                <div class="plan-list-item clearfix">
                                    <span class="fl">意外医疗</span>
                                    <p class="fr fb">1万元/年</p>
                               </div>
                                <div class="plan-list-item clearfix">
                                    <span class="fl">意外住院津贴</span>
                                    <p class="fr fb">50元/天</p>
                               </div>
                               <div class="plan-list-item clearfix">
                                    <span class="fl">重疾保险金</span>
                                    <p class="fr fb">10万元</p>
                               </div>
                               <div class="plan-list-item clearfix">
                                    <span class="fl">轻症保险金</span>
                                    <p class="fr fb">6万元（2万元/次）</p>
                               </div>
                               <div class="plan-list-item clearfix">
                                    <span class="fl">疾病终末期/疾病身故</span>
                                    <p class="fr fb">10万元</p>
                               </div>
                               <div class="plan-list-item clearfix">
                                    <span class="fl">被保险人轻症豁免保费</span>
                                    <p class="fr fb">含</p>
                               </div>
                    </div>
                    <h4 class="mt10">价格<span class="fb ml10 plan-price">2776.00元</span></h4>
                    <p  class="plan-triangle">
                        <span class="triangle-a"></span>
                        <i class="iconfont">&#xe72f;</i>
                    </p>
            </li>
             <li data-planid="1062" class="bdF3FDFF ml30 mr30">
                    <h3>升级计划</h3>
                    <div class="pl30 pr30">
                            <div class="plan-list-item clearfix">
                                    <label class="fl" for="calendar-demo1">出生日期</label>
                                    <p class="fr">
                                            <input class="Wdate" type="text" data-max="41" data-maxunit="year" data-min="18" data-minunit="year" data-step="0" data-val="30" data-valunit="year" data-key="insurantDate" id="calendar-demo2">
                                    </p>
                            </div>
                             <div class="plan-list-item clearfix">
                                    <label class="fl" for="sex">性别</label>
                                    <div class="plan-radio-wrap" data-val="男" data-key="sex">
                                        <div class="plan-radio active fl" data-val="男">男<p><span>&bull;</span></p></div>
                                        <div class="plan-radio fr" data-val="女">女<p><span>&bull;</span></p></div>
                                    </div>
                             </div>
                             <div class="plan-list-item clearfix">
                                <label class="fl" for="job">职业类别<a href="//www.huize.com/product/dialog/job-1000043-0.html" target="_blank" class="plan-list-item-link">？</a></label>
                                <div class="hz-dropdown fr" data-val="1-2类" data-key="insurantJob">
                                    <div class="input-select">
                                        <span class="input-select-text">1-2类</span>
                                        <b class="iconfont">&#xe70b;</b>
                                    </div>

                                    <div class="hz-dropdown-content" style="width:250px;">
                                        <ul class="hz-dropdown-menu">
                                            <li data-val="1-2" class="hz-select-option hz-select-option-selected">1-2类</li>
                                            <li data-val="3" class="hz-select-option">3类</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                              <div class="plan-list-item clearfix">
                                    <span class="fl">意外身故/伤残</span>
                                    <p class="fr fb">60万元</p>
                               </div>
                                <div class="plan-list-item clearfix">
                                    <span class="fl">住院医疗</span>
                                    <p class="fr fb">3万元/年</p>
                               </div>
                                <div class="plan-list-item clearfix">
                                    <span class="fl">意外医疗</span>
                                    <p class="fr fb">3万元/年</p>
                               </div>
                                <div class="plan-list-item clearfix">
                                    <span class="fl">意外住院津贴</span>
                                    <p class="fr fb">100元/天</p>
                               </div>
                               <div class="plan-list-item clearfix">
                                    <span class="fl">重疾保险金</span>
                                    <p class="fr fb">30万元</p>
                               </div>
                               <div class="plan-list-item clearfix">
                                    <span class="fl">轻症保险金</span>
                                    <p class="fr fb">18万元（6万元/次）</p>
                               </div>
                               <div class="plan-list-item clearfix">
                                    <span class="fl">疾病终末期/疾病身故</span>
                                    <p class="fr fb">30万元</p>
                               </div>
                               <div class="plan-list-item clearfix">
                                    <span class="fl">被保险人轻症豁免保费</span>
                                    <p class="fr fb">含</p>
                               </div>
                    </div>
                    <h4 class="mt10">价格<span class="fb ml10 plan-price">7398.00元</span></h4>
                     <p  class="plan-triangle">
                        <span class="triangle-a"></span>
                        <i class="iconfont">&#xe72f;</i>
                    </p>
            </li>
            <li data-planid="1063" class="bdDECFE8">
                    <h3>至尊计划</h3>
                    <div class="pl30 pr30">
                            <div class="plan-list-item clearfix">
                                    <label class="fl" for="calendar-demo1">出生日期</label>
                                    <p class="fr">
                                            <input class="Wdate" type="text" data-max="26" data-maxunit="year" data-min="18" data-minunit="year" data-step="0" data-val="26" data-valunit="year" data-key="insurantDate" id="calendar-demo3">
                                    </p>
                            </div>
                             <div class="plan-list-item clearfix">
                                    <label class="fl" for="sex">性别</label>
                                    <div class="plan-radio-wrap" data-val="男" data-key="sex">
                                        <div class="plan-radio active fl" data-val="男">男<p><span>&bull;</span></p></div>
                                        <div class="plan-radio fr" data-val="女">女<p><span>&bull;</span></p></div>
                                    </div>
                             </div>
                            <div class="plan-list-item clearfix">
                                <label class="fl" for="job">职业类别<a href="//www.huize.com/product/dialog/job-1000043-0.html" target="_blank" class="plan-list-item-link">？</a></label>
                                <div class="hz-dropdown fr" data-val="1-2类" data-key="insurantJob">
                                    <div class="input-select">
                                        <span class="input-select-text">1-2类</span>
                                        <b class="iconfont">&#xe70b;</b>
                                    </div>

                                    <div class="hz-dropdown-content" style="width:250px;">
                                        <ul class="hz-dropdown-menu">
                                            <li data-val="1-2" class="hz-select-option hz-select-option-selected">1-2类</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                             <div class="plan-list-item clearfix">
                                    <span class="fl">意外身故/伤残</span>
                                    <p class="fr fb">100万元</p>
                               </div>
                                <div class="plan-list-item clearfix">
                                    <span class="fl">住院医疗</span>
                                    <p class="fr fb">3万元/年</p>
                               </div>
                                <div class="plan-list-item clearfix">
                                    <span class="fl">意外医疗</span>
                                    <p class="fr fb">3万元/年</p>
                               </div>
                                <div class="plan-list-item clearfix">
                                    <span class="fl">意外住院津贴</span>
                                    <p class="fr fb">100元/天</p>
                               </div>
                               <div class="plan-list-item clearfix">
                                    <span class="fl">重疾保险金</span>
                                    <p class="fr fb">50万元</p>
                               </div>
                               <div class="plan-list-item clearfix">
                                    <span class="fl">轻症保险金</span>
                                    <p class="fr fb">30万元（10万元/次）</p>
                               </div>
                               <div class="plan-list-item clearfix">
                                    <span class="fl">疾病终末期/疾病身故</span>
                                    <p class="fr fb">50万元</p>
                               </div>
                               <div class="plan-list-item clearfix">
                                    <span class="fl">被保险人轻症豁免保费</span>
                                    <p class="fr fb">含</p>
                               </div>
                    </div>
                    <h4 class="mt10">价格<span class="fb ml10 plan-price">10869.00元</span></h4>
                     <p  class="plan-triangle">
                        <span class="triangle-a"></span>
                        <i class="iconfont">&#xe72f;</i>
                    </p>
            </li>
        </ul>

          <a href="javascript:;" class="hz-button hz-button-primary plan-bn add-cart-btn">加入购物车</a>


    </div>
    <!-- 风险解读 -->
    <div class="top-location plan-reading plan-reading-4">
        <div class="layout">
              <h3 class="f48  mb20">风险解读 </h3>
              <p class="lh22">人一生罹患重疾的几率高达72.18%。近年来，环境污染和食品安全问题、工作压力的加剧，导致人们患重疾的概率越来越高，且呈现出越来越年轻化的趋势，31岁至60岁已成为重疾高发年龄段。而现有的医保报销比例低，限制多，异地报销难，导致许多人在生病或遭遇意外时只能选择自费医疗，给自己和家庭造成部分的经济损失。尤其是遭遇重大疾病的情况下，因病致贫或因经济困难耽误或放弃治疗的情况屡见不鲜。</p>
              <ul class="plan-listw">
                      <li class="plan-listw-li">
                               <h4 class="f18"><span class="f60 fb">72.18</span>%</h4>
                              <p>人一生罹患重疾的几率高达72.18%</p>
                      </li>
                       <li class="plan-listw-li">
                              <h4 class="f18"><span class="f60 fb">10-50</span>万</h4>
                              <p>疾治疗费用在10-50万之间，这个数字还以每年20%的速度不断攀升</p>
                      </li>
                       <li>
                              <h4 class="f18"><span class="f60 fb">50</span>%</h4>
                              <p>现有医保报销比例偏低，仅为50%；可报销的药品只占全部临床使用药品种类的1.45%</p>
                      </li>
              </ul>
        </div>
    </div>
    <!-- 方案优势 -->
    <div class="top-location plan-advantage-com plan-advantage-7">
        <div class="layout">
                <div class="plan-advantage-box">
                        <h2 class="f48 pt45 mb20">方案优势</h2>
                        <p class="f16 fc6">“悦人生”成人健康医疗保障方案，意外医疗、住院医疗、重疾医疗全面覆盖，同时解决异地就医报销问题。重疾保障最高可达50万，涵盖61种重疾，15种轻症，看病不用花存款。其中“至尊计划”超过26岁，需要重疾保障可单独投保“华夏关爱宝一号重大疾病保险”</p>
                        <ul class="plan-listh">
                                <li class="plan-listh-1 mb35">
                                        <h3 class="plan-advantage-tt">充足的综合住院医疗补偿</h3>
                                        <p class="f14 fc9 pl25">3万元综合住院医疗补偿，涵盖住院费、特定门诊费、非医保用药补偿</p>
                                </li>
                                <li class="plan-listh-2 mb35">
                                        <h3 class="plan-advantage-tt">高额全方位重疾保障</h3>
                                        <p class="f14 fc9 pl25">保障范围涵盖61种重疾、15种轻症，额度最高至50万元，可全面抵御重疾风险</p>
                                </li>
                                <li class="plan-listh-3">
                                        <h3 class="plan-advantage-tt">全面意外保障</h3>
                                        <p class="f14 fc9 pl25">意外身故最高可达100万；意外医疗3万，附加50元/天住院津贴（最多赔付180天）</p>
                                </li>
                        </ul>
                    </div>
        </div>
    </div>
    <!-- 常见问题 -->
    <div class="top-location plan-question">
            <div class="layout">
                    <h3 class="f48 mb25 tac">常见问题</h3>
                    <div class="pt35 pl30 pr30 bgfw">
                            <h4 class="f18">Q : 该方案的产品组合是什么？</h4>
                            <p class="f14 fc6 pb25"> A : 该方案的初级计划和升级计划由以下3款产品组成，“安心久久综合意外保险 1-2年计划” （保障期限为1年），“乐温馨综合住院补偿医疗保险-社保款”（保障期限为1年），“华夏关爱宝一号重大疾病保险”（保障期限为终身，年缴费为20年）；至尊计划由以下3款产品组成，“慧择智选综合意外保障计划” （保障期限为1年），“乐温馨综合住院补偿医疗保险-社保款”（保障期限为1年），“华夏关爱宝一号重大疾病保险”（保障期限为终身，年缴费为20年）。</p>
                            <h4 class="f18">Q : 此方案适合哪类人群购买？</h4>
                            <p class="f14 fc6 pb25"> A :  此方案适合所有需要对未来的健康保障做中长期规划的成年人，但方案中的住院医疗补充的产品仅限有社保人士购买。</p>
                             <h4 class="f18">Q : 轻症保障有哪些具体内容？跟重疾保障有什么区别？</h4>
                            <p class="f14 fc6 pb25">A : 轻症是相较重疾来说病症较轻，更易治愈且相对花费较少的一些病症。该方案中包含15种轻症保障，累积可赔付三次，但每种轻症仅限赔付一次。</p>
                             <h4 class="f18">Q : 轻症赔付了之后会影响重疾的赔付吗？</h4>
                            <p class="f14 fc6 pb25">A : 轻症的赔付是额外的，不影响重疾那块的赔付。且一旦诊断出患有15种轻症中的一种或多种，即可豁免自轻症确诊之日以后的保费。保费豁免后仍然能获得全部应保保障，十分贴心。</p>
                             <h4 class="f18">Q : 对医院有什么要求吗？</h4>
                            <p class="f14 fc6 pb25"> A :  此款保障要求医院是指具备由政府卫生行政管理部门颁发的、合法有效的医疗机构执业许可证并符合下列条件之一的公立或基本医疗保险定点医疗机构：<br/>
                            （1）二级或二级以上的医院、二级或二级以上的妇幼保健院、住院床位在100张及以上的医院，但不包括精神病医院、皮肤病医院、整形外科医院、美容医院、康复医院和疗养院。<br/>
                            （2）保险公司认可的、为受伤者和患病者提供全日24小时诊断和治疗服务的医疗机构。 </p>
                            <h4 class="f18">Q : 保险一年到期，我怎么选择续保，使我的保障不间断呢？</h4>
                            <p class="f14 fc6 pb25"> A :  我们会在保单到期前以邮件、短信等方式提示您续保，请一定留意这些讯息，以免错过续保时间。</p><h4 class="f18">Q : 网上购买保险的电子保单有效吗？</h4>
                            <p class="f14 fc6 pb25"> A :  在慧择网上购买保险的电子保单与传统保单是没有本质区别的，在理赔或满期给付时二者具有同样的法律效力。另外，在慧择网投保只要凭注册名或电子邮箱即可随时找回电子保单，方法简单、无需工本费。</p>
                            <h4 class="f18">Q : 方案中多个保障产品需要分别申请理赔吗？</h4>
                            <p class="f14 fc6 pb25"> A :  您可以直接拨打慧择网服务热线4006-366-366，由专人全程协助指引报案和申请理赔，或联系您在慧择网的专属顾问为您服务，节约您宝贵的时间。</p>
                    </div>

            </div>
    </div>
    <!-- 用户点评 -->
    <div class="top-location plan-review pt45 pb30">
           <div class="layout">
                <h2 class="f48 tac ">用户点评</h2>
               <ul class="plan-listf">
                       <li>
                               <img src="//img.huizecdn.com/hz/www/page/plan/head1.png" alt="" class="plan-img-head">
                               <h3 class="f18 mt25">袁***</h3>
                               <p class="f14 pt10">和其他公司的重大疾病保险做了比较，这款方案覆盖的疾病多，并且是终身保障，最可贵的是轻症状有豁免，非常好的一款保险，推荐大家选择，这次是帮老公家人购买的，以后还会为孩子和自己购买。</p>
                       </li>
                       <li>
                               <img src="//img.huizecdn.com/hz/www/page/plan/head2.png" alt="" class="plan-img-head">
                               <h3 class="f18 mt25">逍遥**</h3>
                               <p class="f14 pt10">本人最看重的是意外伤害险及交通意外险，作为家里的顶梁柱，如果真的有个啥意外的，家庭的重担可真是让孩子们难以承受，所以我们为了家庭的以后，为了自己不留太多的遗憾，我才购买了此款方案，同时也给儿子也购买了这个险种。</p>
                       </li>
                       <li>
                               <img src="//img.huizecdn.com/hz/www/page/plan/head3.png" alt="" class="plan-img-head">
                               <h3 class="f18 mt25">gege13**</h3>
                               <p class="f14 pt10">因为想给老公买重疾险无意中了解了慧择网,保险规划师胡梦琳给了我详细又周到的建议,让我觉得很放心,之后又给我推荐的这个方案,我觉得很实用,性价比也很高,意外、住院、重疾医疗全部都有。</p>
                       </li>
                       <li>
                               <img src="//img.huizecdn.com/hz/www/page/plan/head4.png" alt="" class="plan-img-head">
                               <h3 class="f18 mt25">heiyou**</h3>
                               <p class="f14 pt10">在进行了线下线上一系列保险的对比后，最终选择了这款方案，确实是性价比比较高的一款方案，保障高，保费低，还是比较适合我们大多数的家庭。同时也感谢慧择网的朱熙晨耐心细致的讲解，专业的服务让我比较满意。</p>
                       </li>
               </ul>
              <div class="tac pb20">
                   <a href="http://www.huize.com/guihua/comment/p<%=pageId%>" target="_blank" class="f16" title="<%=planName%>用户评论">查看全部用户评论 ></a>
              </div>
           </div>
    </div>
    <!-- 精品方案 -->

    <% include ./_detail-foot %>
