<input type="hidden" class="page-id" value="<%=pageId%>">
<!-- 需要变更的产品ID，多个ID用,逗号分开 -->
<input type="hidden" class="change-id" value="727" />
<input type="hidden" class="change-date" data-id="" data-unit="" value="" />

<div class="fixed-plan">
    <div class="detail-tab-wrap">
    <div class="layout">

      <% include _fixed-head %>

    </div>
    <!--layout end-->
    </div>
    <div class="fix-plan-top">
        <div class="layout">
            <h3 class="f30 fl" id="planName" data-title="<%=planName%>"><%=planName%>
                <span class="f18 primary-color">￥</span>
                <span class="primary-color plan-top-price">6620.00</span><span class="f18 primary-color">起</span></h3>
                <a href="javascript:;" class="hz-button hz-button-primary fr pl40 pr40 add-cart-btn add-cart-top">加入购物车</a>
                <a href="http://www.huize.com/baoxianyuyue?oppName=<%=planName%>" target="_blank" class="fix-plan-bn">预约顾问</a>
            </div>
        </div>
</div>

<div class="top-location layout programs-content">
            <div class="plan-banner plan-b3">
                    <div class="f36 fcw fb mb5">让您的孩子赢在起跑线</div>
                    <ul class="plan-listo fcw">
                            <li><span class="mr5">&bull;</span>3.6万住院医疗保障</li>
                            <li><span class="mr5">&bull;</span>0.5万意外医疗补偿</li>
                            <li><span class="mr5">&bull;</span>12.5万教育金</li>
                            <li><span class="mr5">&bull;</span>30万白血病保障</li>
                    </ul>
            </div>
            <div class="plan-introduce">
                    <div class="plan-icon1"><i class="iconfont">&#xe753;</i></div>
                    <p class="ovh lh22 f14 ti2em"><%=planDesc%></p>
            </div>
                <!-- 推荐计划 -->

            <ul class="plan-list-com plan-list-c1"><!-- 三种方案 -->
                    <li data-planid="1031" class="bdC4E8D6">
                            <h3>初级计划</h3>
                            <div class="pl30 pr30">
                                    <div class="plan-list-item clearfix">
                                            <label class="fl" for="calendar-demo1">出生日期</label>
                                            <p class="fr">
                                                    <input class="Wdate" type="text" data-max="8" data-maxunit="year" data-min="30" data-minunit="day" data-val="31" data-valunit="day" data-key="insurantDate" id="calendar-demo1">
                                            </p>
                                    </div>
                                     <div class="plan-list-item clearfix">
                                            <label class="fl" for="sex">性别</label>
                                            <div class="plan-radio-wrap" data-val="男" data-key="sex">
                                                <div  class="plan-radio active fl" data-val="男">男<p><span>&bull;</span></p></div>
                                                <div  class="plan-radio  fr" data-val="女">女<p><span>&bull;</span></p></div>
                                            </div>

                                     </div>
                                     <div class="plan-list-item clearfix">
                                          <span class="fl">大学教育金</span>
                                          <p class="fr fb">1万元/年</p>
                                     </div>
                                      <div class="plan-list-item clearfix">
                                          <span class="fl">白血病保障</span>
                                          <p class="fr fb">10万元</p>
                                     </div>
                                      <div class="plan-list-item clearfix">
                                          <span class="fl">住院医疗</span>
                                          <p class="fr fb">3.6万元/年</p>
                                     </div>
                                       <div class="plan-list-item clearfix">
                                            <span class="fl">意外身故/伤残</span>
                                            <p class="fr fb">2万元</p>
                                       </div>
                                        <div class="plan-list-item clearfix">
                                            <span class="fl">意外医疗</span>
                                            <p class="fr fb">0.5万元/年</p>
                                       </div>
                                        <div class="plan-list-item clearfix">
                                            <span class="fl">保费豁免</span>
                                            <p class="fr fb">是</p>
                                       </div>

                            </div>
                            <h4 class="mt10">价格<span class="fb ml10 plan-price">6620.00元</span></h4>
                            <p  class="plan-triangle">
                                <span class="triangle-a"></span>
                                <i class="iconfont">&#xe72f;</i>
                            </p>
                    </li>
                     <li data-planid="1032" class="bdF3FDFF ml30 mr30">
                            <h3>升级计划</h3>
                            <div class="pl30 pr30">
                                    <div class="plan-list-item clearfix">
                                            <label class="fl" for="calendar-demo1">出生日期</label>
                                            <p class="fr">
                                                    <input class="Wdate" type="text" data-max="5" data-maxunit="year" data-min="30" data-minunit="day" data-val="31" data-valunit="day" data-key="insurantDate" id="calendar-demo2">
                                            </p>
                                    </div>
                                     <div class="plan-list-item clearfix">
                                            <label class="fl" for="sex">性别</label>
                                            <div class="plan-radio-wrap" data-val="男" data-key="sex">
                                                <div  class="plan-radio active fl" data-val="男">男<p><span>&bull;</span></p></div>
                                                <div  class="plan-radio  fr" data-val="女">女<p><span>&bull;</span></p></div>
                                            </div>

                                     </div>
                                      <div class="plan-list-item clearfix">
                                          <span class="fl">高中教育金</span>
                                          <p class="fr fb">5000元/年</p>
                                     </div>
                                      <div class="plan-list-item clearfix">
                                          <span class="fl">大学教育金</span>
                                          <p class="fr fb">1.5万元/年</p>
                                     </div>
                                      <div class="plan-list-item clearfix">
                                          <span class="fl">白血病保障</span>
                                          <p class="fr fb">20万元</p>
                                     </div>
                                      <div class="plan-list-item clearfix">
                                          <span class="fl">住院医疗</span>
                                          <p class="fr fb">3.6万元/年</p>
                                     </div>
                                       <div class="plan-list-item clearfix">
                                            <span class="fl">意外身故/伤残</span>
                                            <p class="fr fb">2万元</p>
                                       </div>
                                        <div class="plan-list-item clearfix">
                                            <span class="fl">意外医疗</span>
                                            <p class="fr fb">0.5万元/年</p>
                                       </div>
                                        <div class="plan-list-item clearfix">
                                            <span class="fl">保费豁免</span>
                                            <p class="fr fb">是</p>
                                       </div>
                            </div>
                            <h4 class="mt10">价格<span class="fb ml10 plan-price">9440.00元</span></h4>
                             <p  class="plan-triangle">
                                <span class="triangle-a"></span>
                                <i class="iconfont">&#xe72f;</i>
                            </p>
                    </li>
                    <li data-planid="1033" class="bdDECFE8">
                            <h3>至尊计划</h3>
                            <div class="pl30 pr30">
                                    <div class="plan-list-item clearfix">
                                            <label class="fl" for="calendar-demo1">出生日期</label>
                                            <p class="fr">
                                                    <input class="Wdate" type="text" data-max="2" data-maxunit="year" data-min="30" data-minunit="day" data-val="31" data-valunit="day" data-key="insurantDate" id="calendar-demo3">
                                            </p>
                                    </div>
                                     <div class="plan-list-item clearfix">
                                            <label class="fl" for="sex">性别</label>
                                            <div class="plan-radio-wrap" data-val="男" data-key="sex">
                                                <div  class="plan-radio active fl" data-val="男">男<p><span>&bull;</span></p></div>
                                                <div  class="plan-radio  fr" data-val="女">女<p><span>&bull;</span></p></div>
                                            </div>

                                     </div>
                                     <div class="plan-list-item clearfix">
                                          <span class="fl">初中教育金</span>
                                          <p class="fr fb">5000元/年</p>
                                     </div>
                                     <div class="plan-list-item clearfix">
                                          <span class="fl">高中教育金</span>
                                          <p class="fr fb">1万元/年</p>
                                     </div>
                                      <div class="plan-list-item clearfix">
                                          <span class="fl">大学教育金</span>
                                          <p class="fr fb">2万元/年</p>
                                     </div>
                                      <div class="plan-list-item clearfix">
                                          <span class="fl">白血病保障</span>
                                          <p class="fr fb">30万元</p>
                                     </div>
                                      <div class="plan-list-item clearfix">
                                          <span class="fl">住院医疗</span>
                                          <p class="fr fb">3.6万元/年</p>
                                     </div>
                                       <div class="plan-list-item clearfix">
                                            <span class="fl">意外身故/伤残</span>
                                            <p class="fr fb">2万元</p>
                                       </div>
                                        <div class="plan-list-item clearfix">
                                            <span class="fl">意外医疗</span>
                                            <p class="fr fb">0.5万元/年</p>
                                       </div>
                                        <div class="plan-list-item clearfix">
                                            <span class="fl">保费豁免</span>
                                            <p class="fr fb">是</p>
                                       </div>
                            </div>
                            <h4 class="mt10">价格<span class="fb ml10 plan-price">13620.00元</span></h4>
                             <p  class="plan-triangle">
                                <span class="triangle-a"></span>
                                <i class="iconfont">&#xe72f;</i>
                            </p>
                    </li>
            </ul>
              <a href="javascript:;" class="hz-button hz-button-primary plan-bn add-cart-btn">加入购物车</a>


</div>
<!-- 风险解读 -->
<div class="top-location plan-reading plan-reading-3">
<div class="layout">
      <h3 class="f48  mb20">风险解读 </h3>
      <p class="lh22">《中国居民生活质量指数研究报告》指出，教育花费为20年前的25倍，预计未来10年还将以每年3.5%的速度增长！中国社科院著名社会学家徐安琪刊发的一份调研报告中称：根据对上海市徐汇区的一项社会调查显示，父母养大一个身体健康的孩子平均要花掉49万元。仅靠存钱攒教育费是远远不够的，教育保险成为越来越多家长的选择！孩子的健康问题也困扰着父母。权威机构统计：全国少儿白血病患者高达200万人 ，虽然目前的医疗水平已有极大提升，白血病不再是绝症，但家长不得不在收获孩子被治愈的喜讯的同时支付20-40万元的高昂医疗费用。（每年约有33.3%的重病儿童因医疗费用不足而放弃治疗！）</p>
      <ul class="plan-listw">
              <li class="plan-listw-li">
                       <h4 class="f24"><span class="f60 fb">25</span>倍</h4>
                      <p>教育花费为20年前的25倍</p>
              </li>
               <li class="plan-listw-li">
                      <h4 class="f24"><span class="f60 fb">3.5</span>%</h4>
                      <p>教育花费未来10年还将以每年3.5%的速度增长</p>
              </li>
               <li>
                      <h4 class="f24"><span class="f60 fb">50</span>%</h4>
                      <p>白血病患者每年至少增加3万人，其中50％为年幼儿童。</p>
              </li>
      </ul>
</div>
</div>
<!-- 方案优势 -->
<div class="top-location plan-advantage-com plan-advantage-3">
<div class="layout">
        <div class="plan-advantage-box">
                <h2 class="f48 pt45 mb20">方案优势</h2>
                <p class="f16 fc6">“乐成长”儿童教育储蓄方案是一款旨在让孩子在不同教育阶段享有稳定资金支持，同时兼顾白血病和疾病、意外医疗保障的综合型教育金保障方案。多重灵活的教育保障选择，为孩子储备梦想基金，享受分红至30岁。更有高达近34万的白血病保障和意外医疗、住院医疗保障，为孩子构筑健康未来。</p>
                <ul class="plan-listh">
                        <li class="plan-listh-1 mb35">
                                <h3 class="plan-advantage-tt">专项教育资金</h3>
                                <p class="f14 fc9 pl25">0-8周岁儿童专属保障，不同教育阶段享有稳定资金支持，分红至30岁。</p>
                        </li>
                        <li class="plan-listh-2 mb35">
                               <h3 class="plan-advantage-tt">充分全面的医疗保障</h3>
                               <p class="f14 fc9 pl25">全面涵盖重疾医疗（白血病），意外医疗、住院医疗，最高34万保障，极大减轻家长的经济负担。</p>
                        </li>
                        <li class="plan-listh-3">
                                <h3 class="plan-advantage-tt">保费豁免，关爱延续</h3>
                                <p class="f14 fc9 pl25">若父母在保障期间不幸身故，可免交剩余的保险费用，孩子仍享有保障。</p>

                        </li>
                </ul>
            </div>
</div>
</div>
<!-- 常见问题 -->
<div class="top-location plan-question">
    <div class="layout">
            <h3 class="f48 mb25 tac">常见问题</h3>
            <div class="pt35 pl30 pr30 bgfw">
                    <h4 class="f18">Q : 该方案的产品组合是什么？</h4>
                    <p class="f14 fc6 pb25">A:该方案的每个计划都由以下2款产品组成，“慧择安心保少儿疾病住院医疗保障” （保障期限为1年），“阳光旅程教育金保障计划（分红型）”（保障期限为30周岁，年缴费为10年）；初级计划投保年龄为出生满30天-8周岁，升级计划投保年龄为出生满30天-5周岁，至尊计划投保年龄为出生满30天-2周岁。</p>
                    <h4 class="f18">Q : 对医院和医药有什么要求吗？</h4>
                    <p class="f14 fc6 pb25"> A :  保险公司指定或者认可的医疗机构，包括保险公司指定的医疗机构，以及境内二级以上(含)的正规公立医院，同时需要符合当地学生儿童基本医疗保险规定的治疗和用药标准。 </p>
                     <h4 class="f18">Q : 能告知可以得到多少分红吗？</h4>
                    <p class="f14 fc6 pb25">A : 分红型保险是指保险公司将其实际经营成果优于定价假设的盈余，按照一定比例向保单持有人进行分配的人寿保险，所以每年红利的分配都是不确定的，主要取决于保险公司的实际经营成果。</p>
                     <h4 class="f18">Q : 孩子去外地旅游不小心受伤了，也能保么？</h4>
                    <p class="f14 fc6 pb25">A : 可以，去外地旅游或是在校园、家里，这些场景都是属于意外保障范围的。</p>
                     <h4 class="f18">Q :网上购买保险的电子保单有效吗？</h4>
                    <p class="f14 fc6 pb25"> A :在慧择网上购买保险的电子保单与传统保单是没有本质区别的，在理赔或满期给付时二者具有同样的法律效力。另外，在慧择网投保只要凭注册名或电子邮箱即可随时找回电子保单，方法简单、无需工本费。</p>
                     <h4 class="f18">Q : 方案中多个保障产品需要分别申请理赔吗？</h4>
                    <p class="f14 fc6 pb25"> A :您可以直接拨打慧择网服务热线4006-366-366，由专人全程协助指引报案和申请理赔，或联系您在慧择网的专属顾问为您服务，节约您宝贵的时间。 </p>
            </div>

    </div>
</div>
<!-- 用户点评 -->
<div class="top-location plan-review pt45 pb30">
   <div class="layout">
        <h2 class="f48 tac ">用户点评</h2>
       <ul class="plan-listf">
               <li>
                       <img src="//img.huizecdn.com/hz/www/page/plan/head1.png" alt="" class="plan-img-head">
                       <h3 class="f18 mt25">1865344**</h3>
                       <p class="f14 pt10">想为孩子存一份大学教育金，偶然找到了慧择网，遇见了专业、服务又好于浩然顾问。他针对我的需求推荐了这款保险，由于第一次网购保险，必然有所顾虑，于浩然顾问耐心帮我消除所有顾虑。</p>
               </li>
               <li>
                       <img src="//img.huizecdn.com/hz/www/page/plan/head2.png" alt="" class="plan-img-head">
                       <h3 class="f18 mt25">kittyp***</h3>
                       <p class="f14 pt10">这个保险最妙的就是附加少儿白血病疾病保障，这个附加很便宜，但是在我看来是一个亮点，其他的就当是一个强制储蓄，我巴不得孩子顺顺利利到30岁领婚嫁创业金呢，客服陆芳人很好，下次还找你！</p>
               </li>
               <li>
                       <img src="//img.huizecdn.com/hz/www/page/plan/head3.png" alt="" class="plan-img-head">
                       <h3 class="f18 mt25">qiming1***</h3>
                       <p class="f14 pt10">感谢经纪人王东的专业意见和耐心讲解。早就想给孩子买份教育金，今天刚好找到慧择网，他们根据我的需求中立的给我推荐了这款阳光旅程教育金，我非常满意，祝您们慧择网越办越好。</p>
               </li>
               <li>
                       <img src="//img.huizecdn.com/hz/www/page/plan/head4.png" alt="" class="plan-img-head">
                       <h3 class="f18 mt25">wudan***</h3>
                       <p class="f14 pt10">买教育金太有必要了，主要又能保重疾，这样就不用担心万一生了重病，没钱治病的问题。也是为孩子操碎了心，一个孩子都不容易，要生第二个真好好好考虑下，保险时一定要有的，买了安心多了。</p>
               </li>
       </ul>
      <div class="tac pb20">
          <a href="http://www.huize.com/guihua/comment/p<%=pageId%>" target="_blank" class="f16" title="<%=planName%>用户评论">查看全部用户评论 ></a>
      </div>
   </div>
</div>
<!-- 精品方案 -->
<% include ./_detail-foot %>
