<input type="hidden" class="page-id" value="<%=pageId%>">
<!-- 需要变更的产品ID，多个ID用,逗号分开 -->
<input type="hidden" class="change-id" value="1036" />
<input type="hidden" class="change-date" data-id="" data-unit="" value="" />

<div class="fixed-plan">
<div class="detail-tab-wrap">
        <div class="layout">

            <% include _fixed-head %>

        </div>
        <!--layout end-->
    </div>
    <div class="fix-plan-top">
      <div class="layout">
          <h3 class="f30 fl" id="planName" data-title="<%=planName%>"><%=planName%>
            <span class="f18 primary-color">￥</span>
            <span class="primary-color plan-top-price">1988.00</span><span class="f18 primary-color">起</span></h3>
            <a href="javascript:;" class="hz-button hz-button-primary fr pl40 pr40 add-cart-btn add-cart-top">加入购物车</a>
            <a href="http://www.huize.com/baoxianyuyue?oppName=<%=planName%>" target="_blank" class="fix-plan-bn">预约顾问</a>
        </div>
      </div>
</div>



<div class="top-location layout programs-content">
                <div class="plan-banner plan-b11 fcp2">
                        <div class="f36  fb mb5">给爸妈的健康关怀</div>
                        <ul class="plan-listo">
                                <li><span class="mr5">&bull;</span>74周岁能买的健康保障</li>
                                <li><span class="mr5">&bull;</span>高费用癌症双倍赔付</li>
                                <li><span class="mr5">&bull;</span>意外医疗高至8万</li>
                                <li><span class="mr5">&bull;</span>骨折意外额外赔付</li>
                        </ul>
                </div>
                <div class="plan-introduce">
                        <div class="plan-icon1"><i class="iconfont">&#xe753;</i></div>
                        <p class="ovh lh22 f14 ti2em"><%=planDesc%></p>
                </div>
                    <!-- 推荐计划 -->
                <ul class="plan-list-com plan-list-c2">
                        <li data-planid="1111" class="bdC4E8D6 mr30">
                                <h3>初级计划</h3>
                                <div class="pl30 pr30">
                                            <div class="plan-list-item clearfix">
                                                <label class="fl" for="calendar-demo1">出生日期</label>
                                                <p class="fr">
                                                        <input class="Wdate" type="text" data-max="74" data-maxunit="year" data-min="50" data-minunit="year" data-min-step="-1" data-val="60" data-valunit="year" data-key="insurantDate" id="calendar-demo1">
                                                </p>
                                        </div>
                                         <div class="plan-list-item clearfix">
                                                <label class="fl" for="sex">性别</label>
                                                 <div class="plan-radio-wrap" data-val="男" data-key="sex">
                                                    <div class="plan-radio active fl" data-val="男">男<p><span>&bull;</span></p></div>
                                                    <div class="plan-radio fr" data-val="女">女<p><span>&bull;</span></p></div>
                                                </div>

                                         </div>
                                           <div class="plan-list-item clearfix">
                                                <span class="fl">意外身故 /伤残</span>
                                                <p class="fr fb">9万元</p>
                                           </div>
                                            <div class="plan-list-item clearfix">
                                                <span class="fl">意外医疗</span>
                                                <p class="fr fb">2万元（意外骨折医疗4万元）</p>
                                           </div>
                                            <div class="plan-list-item clearfix">
                                                <span class="fl">骨密度检测津贴</span>
                                                <p class="fr fb">200元/次</p>
                                           </div>
                                            <div class="plan-list-item clearfix">
                                                <span class="fl">意外住院津贴</span>
                                                <p class="fr fb">50元/天（意外骨折住院90元/天）</p>
                                           </div>
                                           <div class="plan-list-item clearfix">
                                                <span class="fl">意外骨折疗养津贴</span>
                                                <p class="fr fb">20元 /天</p>
                                           </div>
                                            <div class="plan-list-item clearfix">
                                                <span class="fl">癌症</span>
                                                <p class="fr fb">5万元</p>
                                           </div>
                                            <div class="plan-list-item clearfix">
                                                <span class="fl">高费用癌症</span>
                                                <p class="fr fb">10万元</p>
                                           </div>
                                            <div class="plan-list-item clearfix">
                                                <span class="fl">癌症疗养</span>
                                                <p class="fr fb">5000元</p>
                                           </div>
                                </div>
                                <h4 class="mt10">价格<span class="fb ml10 plan-price">1988.00元</span></h4>
                                <p  class="plan-triangle">
                                    <span class="triangle-a"></span>
                                    <i class="iconfont">&#xe72f;</i>
                                </p>
                        </li>
                         <li data-planid="1112" class="bdF3FDFF">
                                <h3>升级计划</h3>
                                <div class="pl30 pr30">
                                         <div class="plan-list-item clearfix">
                                                <label class="fl" for="calendar-demo1">出生日期</label>
                                                <p class="fr">
                                                    <input class="Wdate" type="text" data-max="74" data-maxunit="year" data-min="50" data-minunit="year" data-min-step="-1" data-val="60" data-valunit="year" data-key="insurantDate" id="calendar-demo2">
                                                </p>
                                        </div>
                                         <div class="plan-list-item clearfix">
                                                <label class="fl" for="sex">性别</label>
                                                 <div class="plan-radio-wrap" data-val="男" data-key="sex">
                                                    <div class="plan-radio active fl" data-val="男">男<p><span>&bull;</span></p></div>
                                                    <div class="plan-radio fr" data-val="女">女<p><span>&bull;</span></p></div>
                                                </div>

                                         </div>
                                           <div class="plan-list-item clearfix">
                                                <span class="fl">意外身故 /伤残</span>
                                                <p class="fr fb">26万元</p>
                                           </div>
                                            <div class="plan-list-item clearfix">
                                                <span class="fl">意外医疗</span>
                                                <p class="fr fb">5万元（意外骨折医疗8万元）</p>
                                           </div>
                                            <div class="plan-list-item clearfix">
                                                <span class="fl">骨密度检测津贴</span>
                                                <p class="fr fb">300元/次</p>
                                           </div>
                                            <div class="plan-list-item clearfix">
                                                <span class="fl">意外住院津贴</span>
                                                <p class="fr fb">100元/天（意外骨折住院160元/天）</p>
                                           </div>
                                           <div class="plan-list-item clearfix">
                                                <span class="fl">意外骨折疗养津贴</span>
                                                <p class="fr fb">30元 /天</p>
                                           </div>
                                            <div class="plan-list-item clearfix">
                                                <span class="fl">癌症</span>
                                                <p class="fr fb">10万元</p>
                                           </div>
                                            <div class="plan-list-item clearfix">
                                                <span class="fl">高费用癌症</span>
                                                <p class="fr fb">20万元</p>
                                           </div>
                                            <div class="plan-list-item clearfix">
                                                <span class="fl">癌症疗养</span>
                                                <p class="fr fb">1万元</p>
                                           </div>
                                </div>
                                <h4 class="mt10">价格<span class="fb ml10 plan-price">4025.00元</span></h4>
                                 <p  class="plan-triangle">
                                    <span class="triangle-a"></span>
                                    <i class="iconfont">&#xe72f;</i>
                                </p>
                        </li>
                </ul>

                  <a href="javascript:;" class="hz-button hz-button-primary plan-bn add-cart-btn">加入购物车</a>


</div>
<!-- 风险解读 -->
<div class="top-location plan-reading plan-reading-2">
    <div class="layout">
          <h3 class="f48  mb20">风险解读 </h3>
          <p class="lh22">50岁以上的中老年人，身体各方面机能下降，患癌症及意外的风险系数大大提高。根据国内的相关数据统计，在中国，每天有8550人罹患癌症，80%为50岁以上老人，其中，中老年人发生伤残概率比其他年龄层高出4至10倍，医疗费用比其他年龄高出3至5倍。中老年人健康和意外风险大，特别是癌症高发风险，但苦于可选择面太小，难于通过保险来规避风险。</p>
          <ul class="plan-listw">
                  <li class="plan-listw-li">
                           <h4 class="f18"><span class="f60 fb">80</span>%</h4>
                          <p>我国每天8550人不幸罹患癌症，80%是50周岁以上中老年人！</p>
                  </li>
                   <li class="plan-listw-li">
                          <h4 class="f18"><span class="f60 fb">4-10</span>倍</h4>
                          <p>老年人发生意外的比例是平均水平的4至10倍，医疗费用比其他年龄高出3至5倍。</p>
                  </li>
                   <li>
                          <h4 class="f18"><span class="f60 fb">50</span>%</h4>
                          <p>60岁以上老人发生髋部骨折后，死亡率高达50%</p>
                  </li>
          </ul>
    </div>
</div>
<!-- 方案优势 -->
<div class="top-location plan-advantage-com plan-advantage-2 plan-advantage">
    <div class="layout">
            <div class="plan-advantage-box">
                    <h2 class="f48 pt45 mb20">方案优势</h2>
                    <p class="f16 fc6">“享安康”老人健康医疗方案打破年龄门槛，针对老年人群体高发的癌症和意外风险，提供了高性价比的综合解决方案，利用较少保险费解决中老年人重大疾病、意外等风险保障需求。</p>
                    <ul class="plan-listh">
                            <li class="plan-listh-1 mb35">
                                    <h3 class="plan-advantage-tt">74周岁能买的健康保障</h3>
                                    <p class="f14 fc9 pl25">打破年龄门槛，74岁还能买，解决老年人无重疾险可买的难题</p>
                            </li>
                            <li class="plan-listh-2 mb35">
                                    <h3 class="plan-advantage-tt">高费用癌症双倍赔付</h3>
                                    <p class="f14 fc9 pl25">恶性脑肿瘤、老年白血病等病症，治疗费用高昂，确诊后双倍赔付</p>
                            </li>
                            <li class="plan-listh-3">
                                    <h3 class="plan-advantage-tt">全面的意外保障，含骨折专属保障</h3>
                                    <p class="f14 fc9 pl25">意外医疗高至5万，骨折医疗可达8万，额外附加住院津贴和骨折疗养津贴</p>
                            </li>
                    </ul>
                </div>
    </div>
</div>

<!-- 常见问题 -->
<div class="top-location plan-question">
        <div class="layout">
                <h3 class="f48 mb25 tac">常见问题</h3>
                <div class="pt35 pl30 pr30 bgfw">
                        <h4 class="f18">Q : 该方案的产品组合是什么？</h4>
                        <p class="f14 fc6 pb25">A :  该方案的初级计划由以下3款产品组成，慧择“年年无忧”综合意外险-白金计划（保障期限为1年），“泰康“老有福”意外骨折保险”（保障期限为1年），“太平孝心宝老年癌症保障计划”（保障期限为10年）；<br/>升级计划由以下3款产品组成，“慧择“年年无忧”综合意外险-钻石计划”（保障期限为1年），“泰康“老有福”意外骨折保险”（保障期限为1年），“太平孝心宝老年癌症保障计划”（保障期限为10年）。</p>
                        <h4 class="f18">Q : 如何给父母买保险？给父母买什么保险好？</h4>
                        <p class="f14 fc6 pb25"> A :  老年人遭受意外伤害的概率高于其他年龄群体，特别是交通事故、意外跌伤等事故，意外发生后往往需要高额的医疗费用，因此意外险应该成为老年人购买保险的首要选择。目前市面上适合老年人购买的重疾险不多，且大多价格比较高，容易出现保费倒挂的现象，建议购买的时候要谨慎选择。 </p>
                         <h4 class="f18">Q : 若被保险人发生意外事故导致残疾，但是还没有治疗结束，保险公司如何给付保险金？</h4>
                        <p class="f14 fc6 pb25">A :被保险人发生意外伤害，并自意外伤害发生之日起180日内以该次意外伤害为直接原因导致伤残，且属于《人身保险伤残评定标准（行业标准） 》 中所列的伤残条目，保险公司依照该标准规定的评定原则进行评定，并按评定结果所对应该标准规定的给付比例乘以保险单所载该项保险责任所对应的保险金额给付残疾保险金。如至保险期间届满治疗仍结束，按意外伤害发生之日起第180日时的身体情况进行鉴定，并据此给付残疾保险金。</p>
                         <h4 class="f18">Q : 对医院和医药有什么要求吗？</h4>
                        <p class="f14 fc6 pb25">A : 保险公司指定或者认可的医疗机构，包括保险公司指定的医疗机构，以及境内二级以上(含)的正规公立医院，同时需要符合当地学生儿童基本医疗保险规定的治疗和用药标准。</p>
                         <h4 class="f18">Q :网上购买保险的电子保单有效吗？</h4>
                        <p class="f14 fc6 pb25"> A :  在慧择网上购买保险的电子保单与传统保单是没有本质区别的，在理赔或满期给付时二者具有同样的法律效力。另外，在慧择网投保只要凭注册名或电子邮箱即可随时找回电子保单，方法简单、无需工本费。 </p>
                        <h4 class="f18">Q :方案中多个保障产品需要分别申请理赔吗？</h4>
                        <p class="f14 fc6 pb25"> A :  您可以直接拨打慧择网服务热线4006-366-366，由专人全程协助指引报案和申请理赔，或联系您在慧择网的专属顾问为您服务，节约您宝贵的时间。 </p>
                </div>

        </div>
</div>
<!-- 用户点评 -->
<div class="top-location plan-review pt45 pb30">
     <div class="layout">
          <h2 class="f48 tac ">用户点评</h2>
         <ul class="plan-listf">
             <li>
               <img src="//img.huizecdn.com/hz/www/page/plan/head1.png" alt="" class="plan-img-head">
               <h3 class="f18 mt25">gangdong198**</h3>
               <p class="f14 pt10">老爸老妈现在都退休了，每天早晚会在小区公园里锻炼，我们平常工作也比较忙，对他们的照顾很少，给他们一人买份保险，权当是一份孝心吧！</p>
             </li>
             <li>
               <img src="//img.huizecdn.com/hz/www/page/plan/head2.png" alt="" class="plan-img-head">
               <h3 class="f18 mt25">xinran**</h3>
               <p class="f14 pt10">一直想给妈妈买份保险，无奈妈妈已经超过55岁，咨询了很多公司属于超龄，承保很困难。听别人介绍说慧择网是中国最大的网上保险超市，保险公司多，保险种类丰富，性价比特别高，就上来慧择网，真的是很不错</p>
             </li>
             <li>
               <img src="//img.huizecdn.com/hz/www/page/plan/head3.png" alt="" class="plan-img-head">
               <h3 class="f18 mt25">25418**</h3>
               <p class="f14 pt10">一直在找一款适合给家里老年人购买的保险，没想到在这找到了，而且还很经济实惠，最主要的是针对老年人量身打造的保险，解决了我们年轻人的后顾之忧，真心的赞一个，希望每年都有。</p>
             </li>
             <li>
               <img src="//img.huizecdn.com/hz/www/page/plan/head4.png" alt="" class="plan-img-head">
               <h3 class="f18 mt25">dawoa**</h3>
               <p class="f14 pt10">父母的年龄慢慢的大了，重疾和住院医疗都是必不可少的，问过其它保险，像50岁以上特别是男性的买重疾很贵，而这个方案不到2000，实惠很多，而保障不少，医疗保障额度也够。</p>
             </li>
         </ul>
        <div class="tac pb20">
            <a href="http://www.huize.com/guihua/comment/p<%=pageId%>" target="_blank" class="f16" title="<%=planName%>用户评论">查看全部用户评论 ></a>
        </div>
     </div>
</div>
<!-- 精品方案 -->
<% include ./_detail-foot %>
