<input type="hidden" class="page-id" value="<%=pageId%>">
<!-- 需要变更的产品ID，多个ID用,逗号分开 -->
<input type="hidden" class="change-id" value="" />
<input type="hidden" class="change-date" data-id="" data-unit="" value="" />

<!-- 固定导航加class fixed-plan-wrap -->
<div class="fixed-plan">
    <div class="detail-tab-wrap">
        <div class="layout">

            <% include _fixed-head %>

        </div>
        <!--layout end-->
    </div>
    <div class="fix-plan-top">
    <div class="layout">
        <h3 class="f30 fl" id="planName" data-title="<%=planName%>"><%=planName%>
            <span class="f18 primary-color">￥</span>
            <span class="primary-color plan-top-price">358.00</span><span class="f18 primary-color">起</span>
        </h3>
        <a href="javascript:;" class="hz-button hz-button-primary fr pl40 pr40 add-cart-btn add-cart-top">加入购物车</a>
        <a href="http://www.huize.com/baoxianyuyue?oppName=<%=planName%>" target="_blank" class="fix-plan-bn">预约顾问</a>
        </div>
    </div>
</div>


<div class="layout programs-content">
    <div class="top-location plan-banner plan-b2">
        <div class="f36 fcw fb mb5">孩子的第一份成长守护</div>
        <ul class="plan-listo fcw">
            <li><span class="mr5">&bull;</span>3.6万住院医疗保障</li>
            <li><span class="mr5">&bull;</span>1.5万意外医疗补偿</li>
            <li><span class="mr5">&bull;</span>50元/天住院津贴</li>
            <li><span class="mr5">&bull;</span>20万监护人责任保障</li>
        </ul>
    </div>
    <div class="plan-introduce">
        <div class="plan-icon1"><i class="iconfont">&#xe753;</i></div>
        <p class="ovh lh22 f14 ti2em"><%=planDesc%></p>
    </div>
    <!-- 推荐计划 -->

    <ul class="plan-list-com plan-list-c2"><!--  两种方案 -->
        <li data-planid="1011" class="bdC4E8D6 mr30" >
            <h3>初级计划</h3>
            <div class="pl30 pr30">
                <div class="plan-list-item clearfix">
                    <span class="fl">适用人群</span>
                    <p class="fr fb">出生满30天-17周岁及监护人</p>
               </div>
               <div class="plan-list-item clearfix">
                    <span class="fl">意外身故/伤残</span>
                    <p class="fr fb">12万元</p>
               </div>
                <div class="plan-list-item clearfix">
                    <span class="fl">意外医疗</span>
                    <p class="fr fb">1.5万元/年</p>
               </div>
                <div class="plan-list-item clearfix">
                    <span class="fl">住院医疗</span>
                    <p class="fr fb">3.6万元/年</p>
               </div>
                <div class="plan-list-item clearfix">
                    <span class="fl">意外住院津贴</span>
                    <p class="fr fb">50元/天</p>
               </div>
                <div class="plan-list-item clearfix bdn">
                    <span class="fl">监护人责任</span>
                    <p class="fr fb">10万元</p>
               </div>
            </div>
            <h4 class="mt10">价格<span class="fb ml10 plan-price">358.00元</span></h4>
            <p  class="plan-triangle">
                <span class="triangle-a"></span>
                <i class="iconfont">&#xe72f;</i>
            </p>
        </li>
        <li data-planid="1012" class="bdF3FDFF">
            <h3>升级计划</h3>
            <div class="pl30 pr30">
            <div class="plan-list-item clearfix">
                    <span class="fl">适用人群</span>
                    <p class="fr fb">出生满30天-17周岁及监护人</p>
               </div>
               <div class="plan-list-item clearfix">
                    <span class="fl">意外身故/伤残</span>
                    <p class="fr fb">12万元</p>
               </div>
                <div class="plan-list-item clearfix">
                    <span class="fl">意外医疗</span>
                    <p class="fr fb">1.5万元/年</p>
               </div>
                <div class="plan-list-item clearfix">
                    <span class="fl">住院医疗</span>
                    <p class="fr fb">3.6万元/年</p>
               </div>
                <div class="plan-list-item clearfix">
                    <span class="fl">意外住院津贴</span>
                    <p class="fr fb">50元/天</p>
               </div>
                <div class="plan-list-item clearfix bdn">
                    <span class="fl">监护人责任</span>
                    <p class="fr fb">20万元</p>
               </div>
            </div>
            <h4 class="mt10">价格<span class="fb ml10 plan-price">396.00元</span></h4>
            <p  class="plan-triangle">
                <span class="triangle-a"></span>
                <i class="iconfont">&#xe72f;</i>
            </p>
        </li>
    </ul>
    <a href="javascript:;" class="hz-button hz-button-primary plan-bn add-cart-btn">加入购物车</a>
</div>


    <!-- 风险解读 -->
    <div class="top-location plan-reading plan-reading-2">
        <div class="layout">
            <h3 class="f48  mb20">风险解读 </h3>
            <p class="lh22">孩子生性活泼好动，磕磕碰碰、意外烧烫伤时有发生；而孩子抵抗力较弱，容易生病，一来二去也是花销不少，提前为孩子备好保障可以帮助整个家庭更从容的应对意外造成的经济损失，有更多精力照顾孩子。儿童在日常活动中常可能在无意间对第三方人、物造成损害（如孩子在小区踢球，不小心砸碎邻居家的玻璃），监护人责任保障能转嫁这类风险，由保险公司承担相关经济赔偿责任。</p>
            <ul class="plan-listw">
                <li class="plan-listw-li">
                    <h4 class="f24"><span class="f60 fb">1/3</span></h4>
                    <p>我国儿童死亡原因1/3是由意外造成</p>
                </li>
                <li class="plan-listw-li">
                    <h4 class="f24"><span class="f60 fb">20</span>万</h4>
                    <p>0-14周岁儿童每年意外致死人数超过20万</p>
                 </li>
                <li>
                    <h4 class="f24"><span class="f60 fb">80</span>%</h4>
                    <p>6岁以下儿童因疾病的理赔占所有理赔案件的80%以上</p>
                </li>
            </ul>
        </div>
    </div>

    <!-- 方案优势 -->
    <div class="top-location plan-advantage-com plan-advantage-1">
        <div class="layout">
            <div class="plan-advantage-box">
                <h2 class="f48 pt45 mb20">方案优势</h2>
                <p class="f16 fc6">“乐成长”基础保障方案是一款侧重于住院医疗保障，同时兼顾意外医疗和监护人责任的儿童基础保障方案。可极大的减少孩子在日常生活中生病和遭遇意外所需的治疗费用压力，同时转嫁孩子无意间对他人或物品造成损害的相关经济赔偿风险。</p>
                <ul class="plan-listh">
                    <li class="plan-listh-1 mb35">
                        <h3 class="plan-advantage-tt">充足的住院医疗保障</h3>
                        <p class="f14 fc9 pl25">3.6万元住院医疗保障，减少在孩子意外或生病住院时的经济支出。</p>
                    </li>
                    <li class="plan-listh-2 mb35">
                       <h3 class="plan-advantage-tt">全面的意外保障</h3>
                       <p class="f14 fc9 pl25">1.5万意外医疗补偿，含门诊费用；附加意外住院津贴50元/天（最多赔付180天）</p>
                    </li>
                    <li class="plan-listh-3">
                        <h3 class="plan-advantage-tt">高额监护人责任</h3>
                        <p class="f14 fc9 pl25">最高20万责任保障，转嫁因孩子过失造成对第三方人、物造成损害而需承担的经济赔偿责任。</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 常见问题 -->
    <div class="top-location plan-question">
        <div class="layout">
            <h3 class="f48 mb25 tac">常见问题</h3>
            <div class="pt35 pl30 pr30 bgfw">
                <h4 class="f18">Q : 该方案的产品组合是什么？</h4>
                <p class="f14 fc6 pb25">A:该方案的每个计划都由  “慧择安心保少儿疾病住院医疗保障”  “慧择无忧少儿综合意外保障计划”  “熊孩子监护人责任险”3款产品组成，保障期限都为1年。</p>
                <h4 class="f18">Q : 对医院和医药有什么要求吗？</h4>
                <p class="f14 fc6 pb25"> A :  保险公司指定或者认可的医疗机构，包括保险公司指定的医疗机构，以及境内二级以上(含)的正规公立医院，同时需要符合当地学生儿童基本医疗保险规定的治疗和用药标准。 </p>
                 <h4 class="f18">Q : 孩子之间打闹不小心伤到了对方也可以赔么？</h4>
                <p class="f14 fc6 pb25">A : 孩子之间打闹造成对方受伤需要家长承担经济赔偿责任的，保险公司会按照保险合同约定负责赔偿。如孩子间推搡造成对方受伤所需的医药费，孩子不小心弄坏别人家的摆设，这些都属于常见的理赔范畴。</p>
                 <h4 class="f18">Q : 孩子去外地旅游不小心受伤了，也能保么？</h4>
                <p class="f14 fc6 pb25">A : 可以，去外地旅游或是在校园、家里，这些场景都是属于意外保障范围的。</p>
                 <h4 class="f18">Q :网上购买保险的电子保单有效吗？</h4>
                <p class="f14 fc6 pb25"> A :在慧择网上购买保险的电子保单与传统保单是没有本质区别的，在理赔或满期给付时二者具有同样的法律效力。另外，在慧择网投保只要凭注册名或电子邮箱即可随时找回电子保单，方法简单、无需工本费。</p>
                 <h4 class="f18">Q : 方案中多个保障产品需要分别申请理赔吗？</h4>
                <p class="f14 fc6 pb25"> A :您可以直接拨打慧择网服务热线4006-366-366，由专人全程协助指引报案和申请理赔，或联系您在慧择网的专属顾问为您服务，节约您宝贵的时间。 </p>
            </div>  
        </div>
    </div>
    <!-- 用户点评 -->
    <div class="top-location plan-review pt45 pb30">
        <div class="layout">
            <h2 class="f48 tac ">用户点评</h2>
            <ul class="plan-listf">
               <li>
                   <img src="//img.huizecdn.com/hz/www/page/plan/head1.png" alt="" class="plan-img-head">
                   <h3 class="f18 mt25">Cherry***</h3>
                   <p class="f14 pt10">该款方案价格不高，保障很全面：意外伤害、疾病住院都有，而且能够自由组合，是一款非常人性化的方案！谢谢徐国栋保险顾问的推荐，已经立即下单，买个放心平安！</p>
               </li>
               <li>
                   <img src="//img.huizecdn.com/hz/www/page/plan/head2.png" alt="" class="plan-img-head">
                   <h3 class="f18 mt25">我是***</h3>
                   <p class="f14 pt10">给刚出生2个月的宝宝购买的，发现针对3岁以下的宝宝的住院医疗特别少，保险额度适中，一眼就看中了，谢谢保险师王鹏的帮助。 买保险就是买份心安，可以作为居民医保的补充。</p>
               </li>
               <li>
                   <img src="//img.huizecdn.com/hz/www/page/plan/head3.png" alt="" class="plan-img-head">
                   <h3 class="f18 mt25">宝宝***</h3>
                   <p class="f14 pt10">反复选择了很久才选择了这款宝宝的方案，价格低保障全面。在这里非常感谢慧择的保险规划师黄燕新，她很专业很耐心的解决了我很多问题，不厌其烦的给我介绍各种适合我的保险计划。非常感谢你！！</p>
               </li>
               <li>
                   <img src="//img.huizecdn.com/hz/www/page/plan/head4.png" alt="" class="plan-img-head">
                   <h3 class="f18 mt25">yuming***</h3>
                   <p class="f14 pt10">方案挺细致的，比如说监护人责任这块保障，一般人是想不到的，像我们家孩子平时就挺淘气的，这块如果能够分担部分风险还是很好。价格也很便宜，一年三百多块钱，作为医保的补充。</p>
               </li>
           </ul>
          <div class="tac pb20">
                <a href="http://www.huize.com/guihua/comment/p<%=pageId%>" target="_blank" class="f16" title="<%=planName%>用户评论">查看全部用户评论 ></a>
          </div>
       </div>
    </div>

    <!-- 精品方案 -->

    <% include ./_detail-foot %>