<%
var data = data || {};
var step1 = data.step1 || 0;
var step2 = data.step2 || 0;
%>
<div class="js-plan-index <%= step1 === 0 ? '' : 'fn-hide'%>">
    <div class="plan-choice">
        <div class="layout">
            <div class="plan-choice-main">
                <h3 class="f32 fb">快速规划</h3>
                <p class="f16 fc6 pt5">简单两步，定制适合您的保障方案</p>
                <p class="f14 fcbc pt30">适合人群</p>
                <ul class="plan-choice-list">
                    <li>
                        <i class="plan-sprite1"></i>
                        <p class="f14">已进行过全面<br>规划</p>
                    </li>
                    <li>
                        <i class="plan-sprite2"></i>
                        <p class="f14">对保险有一定<br>的了解</p>
                    </li>
                </ul>
                <a href="?step1=2" class="hz-button hz-button-primary js-start-planning">立即规划</a>
            </div>
            <div class="plan-choice-side">
                <h3 class="f32 fb">全面规划</h3>
                <p class="f16 fc6 pt5 pb40">初次接触不了解保险？</p>
                <p class="f16 pt30 lh20">深度评估您的保险<br>需求给出最适合您的保障</p>
                <a class="hz-button" href="http://www.huize.com/demandanalysis/home?url=http://www.huize.com/guihua/" target="_blank">立即规划</a>
            </div>
        </div>
    </div>
    <div class="bgf5 pt45">
        <div class="layout">
            <h3 class="f36 tac">为何有规划会更好</h3>
            <ul class="plan-lista clearfix">
                <li>
                    <div class="clearfix">
                        <i class="iconfont fl mr20">&#xe748;</i>
                        <p class="f18 fl pt15">分析更精确</p>
                    </div>
                    <p class="f14 fc6 lh20 pt15">基于您的个人基本信息、家庭状况、消费能力等多维度分析您的保险需求</p>
                </li>
                <li>
                    <div class="clearfix">
                        <i class="iconfont fl mr20">&#xe746;</i>
                        <p class="f18 fl pt15">支出更合理</p>
                    </div>
                    <p class="f14 fc6 lh20 pt15">基于海量的保险产品库，为您挑选高性价比的产品，节约保费支出。</p>
                </li>
                <li>
                    <div class="clearfix">
                        <i class="iconfont fl mr20">&#xe765;</i>
                        <p class="f18 fl pt15">配置更科学</p>
                    </div>
                    <p class="f14 fc6 lh20 pt15">结合您的保险需求和保障缺口，为您提供科学的保障配置建议及合理的保障额度。</p>
                </li>
                <li>
                    <div class="clearfix">
                        <i class="iconfont fl mr20">&#xe764;</i>
                        <p class="f18 fl pt15">权益更明晰</p>
                    </div>
                    <p class="f14 fc6 lh20 pt15">为您解读生涩条款，客观分析产品优劣，让您清楚了解自己享有的保障权益。</p>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="plan-box bgf5 clearfix">
    <div class="layout plan-step js-ensure-object <%= step1 == 0 || step2 != 0 ? 'fn-hide' : ''%>">
        <div class="plan-step-tt pb35">
            <div class="plan-step-tt-con active">
                <i class="iconfont"></i>
                选择保障对象
            </div>
            <hr class="plan-step-line">
            <div class="plan-step-tt-con">
                <i class="iconfont"></i>
                选择保障方案
            </div>
        </div>
        <ul class="plan-step-list mt25 clearfix pl100">
            <li class="<%= step1 == 1 ? 'active' : ''%>">
                <i class="plan-sprite3"></i>
                <h4 class="f22 lh24">儿童</h4>
                <p class="f14 fc6">0-18周岁</p>
            </li>
            <li class="<%= step1 == 2 ? 'active' : ''%>">
                <i class="plan-sprite4"></i>
                <h4 class="f22 lh24">成人</h4>
                <p class="f14 fc6">18-55周岁</p>
            </li>
            <li class="<%= step1 == 3 ? 'active' : ''%>">
                <i class="plan-sprite5"></i>
                <h4 class="f22 lh24">中老年人</h4>
                <p class="f14 fc6">55周岁以上</p>
            </li>
        </ul>
        <div class="tac">
            <a class="hz-button hz-button-primary hz-button-primary" href="javascript:;" id="next">下一步</a>
        </div>
    </div>
    <div class="layout plan-step js-ensure-plan <%= step2 == 0 ? 'fn-hide' :''%>">
        <div class="plan-step-tt pb35">
            <div class="plan-step-tt-con">
                <i class="iconfont ac"></i>
                选择保障对象
            </div>
            <hr class="plan-step-line">
            <div class="plan-step-tt-con active">
                <i class="iconfont"></i>
                选择保障方案
            </div>
        </div>
        <h4 class="f18 fc9 tac pb10">选购<span class="js-selected-object"><%= step1 == 1 ? "儿童" : (step1 == 2 ? "成人" : (step1 == 3 ? "中老年人" : ""))%></span>险时，您希望主要侧重</h4>
        <!-- 儿童 -->
        <div class="plan-slider mt25 <%= step1 == 1 ? '' : 'hidden'%>">
            <i class="iconfont fl" id="planSliderPre"></i>
            <i class="iconfont fr" id="planSliderNex"></i>
            <div class="plan-slider-wrap">
                <ul class="plan-step-list pos-a">
                <!--<ul class="plan-step-list pos-a">-->
                    <li class="<%=step2 == 1 ? 'active' : ''%>" data-url="http://www.huize.com/guihua/101" >
                        <i class="plan-sprite6"></i>
                        <h4 class="f22 lh24">基础保障</h4>
                        <p class="f14 fc6">抵御儿童的日常意外和医疗风险</p>
                    </li>
                    <li class="<%=step2 == 2 ? 'active' : ''%>" data-url="http://www.huize.com/guihua/102">
                        <i class="plan-sprite9"></i>
                        <h4 class="f22 lh24">健康医疗</h4>
                        <p class="f14 fc6">涵盖儿童的日常疾病和大病医疗保障</p>
                    </li>
                    <li class="<%=step2 == 3 ? 'active' : ''%>" data-url="http://www.huize.com/guihua/103">
                        <i class="plan-sprite11"></i>
                        <h4 class="f22 lh24">教育储蓄</h4>
                        <p class="f14 fc6">为孩子的未来教育提前储蓄，兼顾日常医疗</p>
                    </li>
                    <li class="<%=step2 == 4 ? 'active' : ''%>" data-url="http://www.huize.com/guihua/104">
                        <i class="plan-sprite10"></i>
                        <h4 class="f22 lh24">全面保障</h4>
                        <p class="f14 fc6">涵盖儿童意外、健康和教育保障的综合方案</p>
                    </li>
                </ul>
           </div>
        </div>
        <!-- 成人 -->
        <div class="plan-slider mt25 <%= step1 == 2 ? '' : 'hidden'%>">
            <!--<i class="iconfont fl" id="planSliderPre">&#xe706;</i>-->
            <!--<i class="iconfont fr" id="planSliderNex">&#xe707;</i>-->
            <div class="plan-slider-wrap">
                <ul class="plan-step-list pos-a">
                    <li class="<%=step2 == 1 ? 'active' : ''%>" data-url="http://www.huize.com/guihua/105">
                        <i class="plan-sprite6"></i>
                        <h4 class="f22 lh24">基础保障</h4>
                        <p class="f14 fc6">基本的成人意外保障方案</p>
                    </li>
                    <li class="<%=step2 == 2 ? 'active' : ''%>" data-url="http://www.huize.com/guihua/106">
                        <i class="plan-sprite9"></i>
                        <h4 class="f22 lh24">健康医疗</h4>
                        <p class="f14 fc6">大病、小病医疗都涵盖的健康保障</p>
                    </li>
                    <!--<li class="<%=step2 == 3 ? 'active' : ''%>" data-url="http://www.huize.com/guihua/107">-->
                        <!--<i class="plan-sprite8"></i>-->
                        <!--<h4 class="f22 lh24">家庭责任</h4>-->
                        <!--<p class="f14 fc6">侧重人寿保障，兼顾意外风险</p>-->
                    <!--</li>-->
                    <li class="<%=step2 == 3 ? 'active' : ''%>" data-url="http://www.huize.com/guihua/108">
                        <i class="plan-sprite7"></i>
                        <h4 class="f22 lh24">养老储蓄</h4>
                        <p class="f14 fc6">为未来养老提供稳定资金支持</p>
                    </li>
                    <!--<li class="<%=step2 == 5 ? 'active' : ''%>" data-url="http://www.huize.com/guihua/109">-->
                        <!--<i class="plan-sprite10"></i>-->
                        <!--<h4 class="f22 lh24">全面保障</h4>-->
                        <!--<p class="f14 fc6">侧重大病医疗，兼顾人寿保险的全面方案</p>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>
        <!-- 老人 -->
        <div class="plan-slider mt25 <%= step1 == 3 ? '' : 'hidden'%>">
            <div class="plan-slider-wrap  plan-step-list-1">
                <ul class="plan-step-list pos-a pl40">
                    <li class="<%=step2 == 1 ? 'active' : ''%>" data-url="http://www.huize.com/guihua/110">
                        <i class="plan-sprite6"></i>
                        <h4 class="f22 lh24">基础保障</h4>
                        <p class="f14 fc6">全面的老年人意外保障方案</p>
                    </li>
                    <li class="<%=step2 == 2 ? 'active' : ''%>" data-url="http://www.huize.com/guihua/111">
                        <i class="plan-sprite9"></i>
                        <h4 class="f22 lh24">健康医疗</h4>
                        <p class="f14 fc6">兼顾老年人重疾和意外的方案</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tac">
            <a class="hz-button hz-button-primary hz-button-primary" href="javascript:;" id="submit">下一步</a>
        </div>
    </div>
</div>