<%
var restrictRules = data.restrictRules||[];
var security = data.security || {};// 基本信息;
var planList = security.planList || [];// 计划;
var salePromotion = security.salePromotion || []//促销信息;
salePromotion = salePromotion.length ? salePromotion : ['涵盖65种重大疾病','全网首款轻症也有赔','节假日加赔100万'];
var planStyle='';
if(planList.length<=1){
planStyle='hidden';
}
%>
<!--运营层、基础层产品ID，计划ID Start-->
<input type="hidden" name="" id="productId" value="<%=security.productId%>" />
<input type="hidden" name="" id="planId" value="<%=security.planList[0].planId%>" />
<input type="hidden" name="" id="baseProductId" value="<%=security.baseProductId%>" />
<input type="hidden" name="" id="basePlanId" value="<%=security.planList[0].basePlanId%>" />
<!--运营层、基础层产品ID，计划ID End-->

<!--保障详情-->
<div class="detail-ensure-info  clearfix">
	<div class="detail-ensure-body">

			<div class="detail-ensure-head pr30 mb30">
				<a class="company-logo fr" target="_blank" href="http://www.hzins.com/brand/detail/69">
					<img src="<%=security.companyLogo%>" title="<%=security.companyName%>" alt="<%=security.companyName%>" height="45">
				</a>
				<h2 class="product-title f30"><%=security.productName%> <span id="productPlanName"><%=security.productPlanName%></span></h2>
			</div>
						 
			<%planList.forEach(function(item,i){%>
				<%
					var labelList = item.labelList||[];
					var style='hidden';
					if(planId){//如果有计划ID
						if(item.planId===+planId){
							style='';
						}
					}else{//否则显示第一个
						if(!i){
							style='';
						}
					}					
				%>
				<ul class="detail-ensure-support pr30 mb30 fc6 <%=style%>" data-salepromotion="<%=item.planId%>">
					<%labelList.forEach(function(item){%>
					<li class="ensure-support-item"><i class="iconfont f20 mr10">&#xe61e;</i><%=item%></li>
					<%});%>
				</ul>
			<%});%>
			<!--选项操作-->
			<div class="detail-ensure-opt mb20" id="trialWrap">
				<dl class="detail-ensure-opt pr30 mb20 <%=planStyle%>">
					<dt class="ensure-opt-title fl "><strong>方案选择</strong></dt>
					<dd class="ensure-opt-content " id="planIdBox">
					<% planList.forEach(function(item,i){%>
					<%
						var style='';
						if(planId){//如果有计划ID
							if(item.planId===+planId){
								style='filter-active-tag';
							}
						}else{//否则显示第一个
							if(!i){
								style='filter-active-tag';
							}
						}
						
					%>
					<span class="filter-tag <%=style%>" data-baseproductid="<%=security.baseProductId%>" data-baseplanid="<%=item.basePlanId%>" data-productplanid="<%=item.planId%>" data-productplanname="<%=item.planName%>" tabindex_="0"><%=item.planName%></span>
					<%});%>
					<a href="javascript:;" class="primary-link" id="plansCompara">对比计划</a>
					</dd>
				</dl>
				<script>
				var data =<%-myData%>||{};
				</script>
				<%restrictRules.forEach(function(item,i){%>
					 
				<%})%>
				<div id="trialAreas">
					<%-locals.restrictRuleHTML%>					
				</div>
				<div class="ensure-opt-action clearfix">
					<a class="hz-button hz-button-primary hz-button-large " href="javascript:;" insuredstart>立即投保</a>
					<%if(security.supportShoppingCart){%>
					<a class="hz-button hz-button-secondary hz-button-large " href="javascript:;" id="addToShopCar">加入购物车</a>
					<%}%>
					
					<div class="hz-check-item inline-block" id="addToCompare">
						<i class="hz-check-icon"></i><span class="hz-check-text">加入对比</span>
					</div>
					<a class="primary-link inline-block ml15" href="javascript:;" target="_blank">预约顾问</a>
				</div>

				<div id="protectArea">
					<%-locals.renderProtectHTML%>	
				</div>

				<!--ensure-opt-action end-->
			</div>
			<!--detail-ensure-opt end-->

		 
		<!--救援服务-->
		<% if(data.rescueList&&data.rescueList.length>0){%>
		<div class="detail-ensure-rescue">
			<h3 class="f14 pb20 pt20 mb20 fb fc6 bor-bottom">救援服务</h3>
			<ul class="rescue-service-list clearfix">
				<% data.rescueList.forEach(function(item,index){%>
				<li class="rescue-service-item">
					<i class="iconfont icon-item f24"><%=item.icon%></i>
					<dl>
						<dt>
						<%=item.title%>
						</dt>
						<dd class="f12 mt10 fc6">
						<%=item.describe%>
						</dd>
					</dl>
				</li>
				<%});%>
			</ul>
			<!--rescue-service-list end-->
		</div>
		<%}%>
		<!--detail-ensure-rescue end-->
		<!--权利-->
		<% var benefitList = data.security.benefitList ||[];
		if(benefitList.length>0){
		%>
		<div class="detail-ensure-right">
			<h3 class="f14 pb20 pt20 mb20 fc6 bor-bottom fb">您拥有的权利</h3>
			<ul class="right-service-list clearfix">
				<%
				benefitList.forEach(function(item){
				%>
				<li class="rescue-service-item">
					<i class="iconfont icon-item f24">&#xe602;</i>
					<dl>
						<dt>
						<%=item.title%>
						</dt>
						<dd class="f12 mt10 fc6">
						<%=item.describe%>
						</dd>
					</dl>
				</li>
				<%});%>
			</ul>
		</div>
		<%}%>
		<!--detail-ensure-right end-->
		<% include _insurance-notice %>

	</div>
	<!--detail-ensure-body end-->

</div>
<!--detail-ensure-info end-->