<%
var recommendList = data.recommendProgram || [];//列表
%>
<div class="recommended-products">
	<ul class="hz-tab-menu hz-tab-style02 recommended-products-tab" id="recommendTable">
		<%recommendList.forEach(function(item,index){%>
		<li class="hz-tab-menu-item <%if(index==0){%>active<%}%>" data-tab="recommend-<%=(index+1)%>"><a href="javascript:;"><%=item.groupName%></a></li>
		<%});%>
	</ul>
	<div class="recommended-products-tab-container" id="recommendTableContent">

		<%recommendList.forEach(function(dataItem,dIndex){%>
		<div class="recommended-products-tab-pane hidden" data-tab="recommend-<%=(dIndex+1)%>">
			<ul class="recommended-product-list">
		     <%(dataItem.plist||[]).forEach(function(pItem,pIndex){%>
				<% if(pIndex){%>
				<li class="recommended-product-item recommended-product-mark"></li>
				<%}%>
				<li class="recommended-product-item" productId="<%=pItem.productId%>" planId="<%=pItem.planId%>">
					<div class="pic-item"><img width="100%" src="<%=pItem.img%>"></div>
					<div class="content">
						<h4 class="product-title"><a href="#"><%=pItem.planName%></a></h4>
						<p class="product-price f14 mt5">￥<%=pItem.price/100%></p>
					</div>
				</li>

			 <%});%>
				<li class="recommended-product-item last-item ml25">
					<div>
						<h4 class="f14 mb10">组合优势</h4>
						<div class="f12 fc6 lh20">
							<%=dataItem.betterDesc%>
						</div>
						<p class="price-item mt10">
							<del class="origin-price fr fc9 f14">￥<%=dataItem.groupOriginalPrice%></del>
							<span class="current-price">￥<%=dataItem.groupPrice%></span>
						</p>
						<div class="foot-action"><a class="hz-button  hz-button-block" dindex="<%=(dIndex+1)%>" href="javascript:;">加入购物车</a></div>
					</div>
				</li>
			</ul>
		</div>
		<%});%>
	</div>
	<!--recommended-products-tab-container end -->
</div>