<!--用户评论-->
<div class="detail-product-comment pr30">
	<div class="product-comment-meta mb20 clearfix">
		<div class="comment-meta-left tac">
			<p class="score"><%=data.comments.feedback.satisfaction%><span></span></p>
			<p>满意度</p>
		</div>
		<div class="comment-meta-middle">
			<!--已评论状态-->
			<div class="user-tag">
				<% ((data.comments&&data.comments.feedback&&data.comments.feedback.impressionList)||[]).forEach(function(item){%>
				<span class="post-tag"><%=item.title%>（<%=item.count%>）</span>
				<%});%>
			</div>
		</div>
		<div class="comment-meta-right tac">
			<a class="hz-button hz-button-primary hz-button-block" href="//www.huize.com/Comment/CommentEntiy/?productId=<%=data.security.productId%>">评论送金豆</a>
		</div>
	</div>
	<div class="product-comment-tab">
		<ul class="hz-tab-menu hz-tab-style02 product-comment-tab-menu mb30" id="reviewTable">
			<li class="hz-tab-menu-item active" data-tab="review-0"><a href="javascript:;">全部评论 <span><%=data.comments.data[0].total%></span></a></li>
			<li class="hz-tab-menu-item" data-tab="review-1"><a href="javascript:;">产品评论 <span><%=data.comments.data[1].total%></span></a></li>
			<li class="hz-tab-menu-item" data-tab="review-2"><a href="javascript:;">理赔反馈 <span><%=data.comments.data[2].total%></span></a></li>
		</ul>
	</div>
	<!--product-comment-tab-->
	<div class="product-comment-tab-container" id="reviewTableContent">
		<% var comments=data.comments.data||[]; comments.forEach(function(dataItem,dataIndex){%>
		<div class="comment-tab-pane hidden <% if(dataIndex===0){%>show<%}%>" data-tab="review-<%=dataIndex%>">
			<ul class="hz-comments-list">
			<% var commentsList=dataItem.data; commentsList.forEach(function(item,index){%>
				<li class="hz-comment"> <!-- 评论容器 -->
                                    <span class="hz-comment-avatar">
                                        <i class="bg"></i>
                                        <img src="<%=item.userImg%>"> <!-- 评论者头像 -->
                                    </span>

					<div class="hz-comment-main"> <!-- 评论内容容器 -->
						<div class="hz-comment-head">

							<div class="hz-comment-meta"> <!-- 评论元数据 -->
								<span class="hz-comment-author"><%=item.name%></span> <!-- 评论者 -->

								<div class="ml5 mr5 hz-star inline-block">
									<% for(var i=1;i<6;i++){%>
										<% if(i<=item.level){%>
											<i class="hz-star-icon hz-star-icon-selected iconfont"></i>
										<%}else{%>
											<i class="hz-star-icon iconfont"></i>
										<%}%>
									<%}%>
								</div>

								<span class="fc6 f12"><%=item.updatetime.split("T")[0]%></span>
							</div>
						</div>

						<div class="hz-comment-body">
							<div class="hz-comment-content"><%=item.content%></div>

							<% if(item.answer){%>
							<div class="hz-comment-reply popover bottom">
								<div class="popover-content">
									<%=item.answer%>
								</div>
								<div class="arrow"></div>
								<div class="arrow2"></div>
							</div>
							<%}%>

						</div> <!-- 评论内容 -->
					</div>
				</li>
				<%});%>
</ul>
<!--hz-comment-list end-->
</div>
		<%});%>

</div>
<!--product-comment-tab-container-->
<div class="hz-pagination" id="kkpager">

</div>
<!--pagination end-->
</div>
<!--detail-product-comment end-->