<%
    var news = data.news||[];
%>
<div class="columns-box bgfw">
	<div class="layout">
		<div class="columns-header tac">
			<h3 class="f28"><strong>10</strong> 年来，慧择始终用心传递保险善意</h3>
			<p class="f16 mt20 fc9">客户第一，专业可靠，我们用心为您和您家人提供最贴心的一站式保险服务，让您省心、安心！</p>
		</div>
		<div class="columns-body">
			<ul class="news-list clearfix">
				<%news.forEach(function(item){%>
				<li class="news-item">
					<a class="news-thumbnail" href="/about/article-<%=item.id%>-0.html" target="_blank">
						<img height="170" src="<%=item.url%>" alt="<%=item.title%>"/>
					</a>
					<h4 class="news-title">
					<a href="/about/article-<%=item.id%>-0.html" title="<%=item.title%>" target="_blank"><%=item.title%></a>
					</h4>
					<span class="news-source"><%=item.source%></span>
				</li>
				<%});%>
			</ul>
		</div>
		<!--news-body end-->
		<div class="columns-footer tac f16" style="margin-top: 80px;">
			<a class="more-link" href="/Guanyu/huizedongtai" target="_blank">查看全部动态 <i class="iconfont f12">&#xe707;</i></a>
		</div>
	</div>
</div>