<div class="all-comment-page pt20 pb20 f14 bgf0">


    <div class="layout pb40 clearfix">
        <div class="hz-breadcrumb mb20">
            <a href="#">健康保险</a>
            <i class="arrow-right">&gt;</i>
            <a href="#">重大疾病险</a>
            <i class="arrow-right">&gt;</i>
            <h1 class="hz-breadcrumb-active">提交评论</h1>
        </div>
        <!--breadcrumb end-->


        <div class="all-comment-page p30 bgfw">
            <div class="all-comment-head">
                <div class="fr"><img src="http://files.hzins.com/images/short/public/product/d/da/dae/dae0/6f5c36835910b8b07df257908b95.gif" height="45"></div>
                <h2 class="f30 product-title"><a href="#"><%=data.productName%> <%=data.planList[0].planName%></a></h2>
            </div>

            <input type="hidden" id="pageIndex" value="<%=data.comments.pageIndex%>"/>
            <input type="hidden" id="pageTotal" value="<%=data.comments.total%>"/>
            <div class="detail-product-comment">

                <div class="product-comment-meta  mb20 mt30 clearfix" style="min-height: 70px">
                    <div class="comment-meta-left tac">
                        <p class="score"><%=data.feedback.satisfaction%></p>
                        <p>满意度</p>
                    </div>

                    <div class="comment-meta-middle" style="width: 900px;border: none;">


                        <!--已评论状态-->
                        <% (data.feedback.impressionList||[]).forEach(function(item){%>
                        <span class="post-tag"><%=item.title%>（<%=item.count%>）</span>
                        <%});%>

                    </div>


                </div>

                <div class="product-comment-tab">
                    <ul class="product-comment-tab-menu hz-tab-menu hz-tab-style02 mb30">
                        <li class="hz-tab-menu-item <% if(data.comments.type===0){%>active<%}%>"><a href="/product/prodreview/showlist<%=data.productId%>-1.html?type=0">全部评论 <span><%=data.allCount.allCount%></span></a></li>
                        <li class="hz-tab-menu-item <% if(data.comments.type===1){%>active<%}%>"><a href="/product/prodreview/showlist<%=data.productId%>-1.html?type=1">产品评论 <span><%=data.allCount.productCount%></span></a></li>
                        <li class="hz-tab-menu-item <% if(data.comments.type===2){%>active<%}%>"><a href="/product/prodreview/showlist<%=data.productId%>-1.html?type=2">理赔反馈 <span><%=data.allCount.feedbackCount%></span></a></li>
                    </ul>
                </div>
                <!--product-comment-tab-->

                <div class="product-comment-tab-container">
                    <div class="comment-tab-pane">
                        <ul class="hz-comments-list">
                            <%(data.comments.data||[]).forEach(function(item){%>
                            <li class="hz-comment"> <!-- 评论容器 -->
                                    <span class="hz-comment-avatar">
                                        <i class="bg"></i>
                                        <img src="<%=item.userImg%>"> <!-- 评论者头像 -->
                                    </span>

                                <div class="hz-comment-main"> <!-- 评论内容容器 -->
                                    <div class="hz-comment-head">

                                        <div class="hz-comment-meta"> <!-- 评论元数据 -->
                                            <span class="hz-comment-author"><%=item.name%></span> <!-- 评论者 -->

                                            <div class="ml5 mr5 hz-star inline-block">
                                                <% for(var i=1;i<6;i++){%>
                                                     <% if(i<=item.averageLevel){%>
                                                         <i class="hz-star-icon hz-star-icon-selected iconfont"></i>
                                                     <%}else{%>
                                                         <i class="hz-star-icon iconfont"></i>
                                                    <%}%>
                                                <%}%>
                                            </div>
                                            <span class="ml10 mr10 pkg-star-<%=item.averageLevel%>"></span>
                                            <span class="fc6 f12"><%=item.updatetime.split("T")[0]%></span>
                                        </div>
                                    </div>

                                    <div class="hz-comment-body">
                                        <div class="hz-comment-content"><%=item.content%></div>
                                        <% if(item.answer){%>
                                        <div class="hz-comment-reply popover bottom">
                                            <div class="popover-content">
                                                <%=item.answer%>
                                            </div>
                                            <div class="arrow"></div>
                                            <div class="arrow2"></div>
                                        </div>
                                        <%}%>

                                    </div> <!-- 评论内容 -->
                                </div>
                            </li>
                            <%})%>
                        </ul><!--hz-comment-list end-->
                    </div>

                    <div class="comment-tab-pane">

                    </div>

                    <div class="comment-tab-pane">

                    </div>
                </div><!--product-comment-tab-container-->

                <div class="hz-pagination" id="kkpager">

                </div>
                <!--pagination end-->
            </div><!--detail-product-comment end-->
        </div>


    </div><!--layout end-->

</div>