<% 
    var companyPageInfo =locals.companyPageInfo||{};
    var products =locals.products||{};
    var categoryTree = locals.categoryTreeDTO||[];
    var categoryId =locals.categoryId;
    var categoryName="";
    if(categoryId!=='0'){
        categoryTree.forEach(function(item){
            var childrenList =item.childrenList;
            if(item.id===~~categoryId){
                categoryName=item.name
            }else{
                childrenList.forEach(function(item1){
                    if(item1.id===~~categoryId){
                        categoryName=item.name+item1.name
                    }
                });
            }
        })
    }
%>
<div class="product-list-page"><!--详情页面标识-->

    <div class="bgf0 pb30">
        <div class="layout">
            <div class="hz-breadcrumb pt10">
                <a href="//www.huize.com">慧择保险网</a>
                <i class="arrow-right">&gt;</i>
                <a href="/brand/list/">保险品牌</a>
                <i class="arrow-right">&gt;</i>
                <a href="/brand/detail/<%=locals.companyId%>/"><%=companyPageInfo.simpName%></a>
                <i class="arrow-right">&gt;</i>
                <h1 class="hz-breadcrumb-active"><%=companyPageInfo.simpName%><%=(categoryName?categoryName:'保险')%>产品在线购买</h1>
            </div>
            <!--hz-breadcrumb end-->

            <div class="bgfw mt15 pt15 pb15">
                <div class="pl30 pt5 pr30">
                    <span class="mr10">
                        <img src="<%=companyPageInfo.bigLogoImg%>" height="45" alt="<%=companyPageInfo.compCnName%>">
                    </span>
                    <span class="inline-block pt5 f30"><%=companyPageInfo.compCnName%></span>
                </div>

                <div class="bor-top pt15 mt20 pl30 pr30 f14 lh20 fc6">
                    <p><%-companyPageInfo.introduce.replace(/\n/g,'<br/>')%></p>
                </div>

                <div class="bor-top pl30 pr30 pt15 f14 mt20 ">
                    24小时客服热线：
                    <span class="f18 primary-color"><%=companyPageInfo.contactTel%></span>

                </div>
            </div>
        </div>
        <!--layout end-->
    </div>


    <div class="layout clearfix pt30 pb30">
        <div class="layout-primary">
            <div class="layout-inner-primary">
                <div class="bgfb f14 pt10 pb15 pl20 bor-top bor-bottom">
                    <%=companyPageInfo.simpName%>-<%=categoryName?categoryName:'所有保险'%>产品列表 <span class="fc9">共<%=products.total%>款产品</span>
                </div>

                <div class="hz-product-list">
                    <%-locals.productListHtml%>
                </div>
                <%if(products.total>10){%>
                    <div class="hz-pagination mt15" id="kkpager"></div>
                <%}%>
                
            </div>


        </div>
        <!--detail-primary-->

        <%include  _product-list-right %>
        <!--detail-sidebar end-->

    </div><!--layout end-->


    <div class="layout">

        <div class="view-history-scroll" id="historyData">
            <div class="view-history-header">
                <div class="fr view-history-page fn-hide" id="viewHistoryPage">
                    <a class="view-history-scroll-item view-history-scroll-prev" href="javascript:;"  id="prevBtn"><i class="iconfont">&#xe706;</i></a><a class="view-history-scroll-item view-history-scroll-next" href="javascript:;"id="nextBtn"><i class="iconfont">&#xe707;</i></a>
                </div>
                <h3 class="f18">最近浏览</h3>
            </div>

            <div class="view-history-scroll-box" style="overflow: hidden;"  id="viewContainer">
                <div class="mt35"><% include ../layout/_loading %></div>
                <!--view-history-list end-->
            </div>
             <div class="f14 pt25 mt15" id="emptyData" style="display:none;border-top: 1px solid #f6ab1a;">
                 您最近没有浏览记录
            </div>

        </div>
    </div>

    <input type="hidden" id='subCategory' value="<%=locals.categoryId%>">
    <input type="hidden" id='companyId' value="<%=locals.companyId%>">
    <input type="hidden" id='pageIndex' value="<%=locals.pageIndex%>">
    <input type="hidden" id='totalCount' value="<%=products.total%>">

</div>